.calculation-frame {
  border: 1px solid rgba(245, 245, 245, 0.43);
  padding: 80px 50px 10px 50px;
}
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type="radio"] {
  display: none;
}

.radio-item label {
  color: #ffffff;
  font-family: Avert-Semibold;
  font-size: 18px;
  line-height: 31px;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 20px 0 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #bd9976;
  background-color: transparent;
}

.radio-item input[type="radio"]:checked + label:after {
  border-radius: 11px;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #bd9976;
}
.calculation-frame .custom-input-gr {
  display: flex;
  border: 1px solid #ffff;
  /* justify-content: center; */
  height: 45px;
  align-items: center;
  padding-right: 20px;
}
.calculation-frame input,
.calculation-frame input:focus {
  background: transparent;
  border-radius: 0;
  outline: none;
  color: #ffff;
  font-family: Avert;
  font-size: 25px;
  line-height: 32px;
  border: none;
}
.form-calculator .label {
  font-style: normal;
  font-family: Avert;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  padding-left: 0;
}
.r-item {
  text-align: center;
}
@media (max-width: 991px) {
    .form-calculator .label {
        margin-bottom: 10px;
    }
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.calculation-frame .result .label {
  font-family: Avert;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #f2f2f2;
}

.calculation-frame .result .value {
  font-family: Avert-Semibold;
  font-size: 25px;
  line-height: 31px;
  color: #ffffff;
}

.calculation-frame .result .value .unit-price {
  font-size: 18px;
}

.calculation-frame .note {
  font-style: italic;
  font-family: Avert;
  font-size: 16px;
  line-height: 20px;
}
