/*--------------------------------------------------------------
# Mb bond
--------------------------------------------------------------*/
#agent .list-agent-top{
    position: relative;
}
#agent .list-agent-top .list-img:last-child{
    width: 100%!important;
    position: absolute;
    top: 90px;
}
#agent .list-agent-top .list-img{
    padding: 0px 18px;
}
.tab-bond {
    height: 78px;
    background: #0a1e40;
    margin-top: -78px;
    position: relative;
}
.agent-mobile2 {
    display: none!important;
}
.tab-bond li {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
}

.tab-bond li.nav-item {
    width: calc(100% - 1000px);
}
.form-check-input {
    border: 2px solid #0A1E40!important;

}
.bnt-result{
    margin-bottom: 200px;
}
.survey-end{
    margin-top: 65px;
    margin-bottom: 258px;
}
@media (max-width: 1024px) {
    .tab-bond .nav-link {
        font-size: 15px !important;
        padding: 2px;
    }
}

.tab-bond button {
    height: 78px;
}

.tab-bond .nav-link {
    color: #fff;
    border-radius: 0px;
    font-family: Avert;
    font-size: 20px;
}

.tab-bond .nav-link.active {
    color: #4c4c4e;
    background-color: #fff;
}

/*line*/

.alignment-bond.ps-timeline-sec .ps-timeline {
    border-top: 1px solid #8699b3 !important;
}

.alignment-bond.ps-timeline-sec ol.ps-timeline li span {
    left: 40% !important;
}

.alignment-bond.ps-timeline-sec ol.ps-timeline li {
    width: 16% !important;
}

.alignment-bond.ps-timeline-sec ol.ps-timeline li span {
    width: 16px;
    height: 16px;
    margin-left: -25px;
    background: #eb5757;
    top: -9px;
    left: 50%;
}

.alignment-bond.ps-timeline-sec ol.ps-timeline li .ps-bot {
    position: absolute;
    font-size: 24px;
    color: #0a1e40;
    margin-top: 0px;
    left: 26px;
}

.alignment-bond.ps-timeline-sec ol.ps-timeline li span.ps-sp-top:before {
    opacity: 0.36;
}

.alignment-bond.ps-timeline-sec ol.ps-timeline li .img-handler-top {
    margin-bottom: 94px;
    font-size: 30px;
    color: #4f4f4f;
    font-family: Avert-Semibold;
}

.alignment-bond.ps-timeline-sec .align-items-center {
    margin-left: 16px;
}
.menu-mbbond .transt-EN,.hide-desktop{
    display: none;
}
.timeline-pagination-l {
    position: absolute;
    background: rgba(76, 76, 78, 0.1);
    padding: 5px 9px;
    color: #4c4c4e;
    border-radius: 6px;
    top: -16px;
    left: -60px;
}

.timeline-pagination-r {
    position: absolute;
    background: rgba(76, 76, 78, 0.1);
    padding: 5px 9px;
    color: #4c4c4e;
    border-radius: 6px;
    top: -16px;
    right: -40px;
}

.alignment-bond.ps-timeline-sec ol.ps-timeline {
    margin: 160px 0;
}

/*mb contact
  */

h3.title-bond {
    color: #0a1e40;
    font-size: 35px;
    padding-top: 47px;
    font-family: Avert-Semibold;
}
.interest-rate .mb-3{
    flex: 1 1 auto;  
}
.contact.contact-bond {
    background-image: url(../img/bgmbsip.png);
    color: #ffffff;
    padding: 54px 0 108px 0px;
}

.title-bond-tool {
    font-family: Avert-Semibold;
    font-size: 35px;
    color: #ffffff;
    text-align: left;
}

@media (max-width: 991px) {
    h3.title-bond {
        font-size: 25px;
        margin-bottom: 17px;
    }
}
.input-custom::placeholder{
    color: #fff
}
.input-custom {
    background: unset;
    font-size: 16px;
    color: #f5f5f5;
}
.input-custom:focus{
    background: unset;
}


.input-custom option {
    background-color: #0a1e40 !important;
}

.ps-timeline-sec.process ol.ps-timeline li span {
    left: 6%;
}

/*mb process
  */

.process.ps-timeline-sec .ps-timeline {
    border-top: 1px solid #8699b3 !important;
}

.process.ps-timeline-sec ol.ps-timeline li .img-handler-top {
    margin-bottom: 102px;
}

.process .number {
    width: 41px;
    height: 41px;
    background: #ddb996;
    border-radius: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
}
.menu-support{
    display: none;
}
.process .content-s {
    font-size: 18px;
    padding-left: 15px;
}

.process .content-step {
    margin-left: -15px;
}

.process.ps-timeline-sec ol.ps-timeline li span {
    background: #ddb996;
}

.process.ps-timeline-sec ol.ps-timeline li {
    width: 25%;
}

.process.ps-timeline-sec ol.ps-timeline {
    margin: 150px 0 50px 0px;
}

.process.ps-timeline-sec ol.ps-timeline li span.ps-sp-top:before {
    border-left: 2px dashed #ddb996;
}

.participation-process.mb-bond-process .content-s p {
    color: #000;
}

.participation-process.mb-bond-process .ps-timeline-sec ol.ps-timeline li {
    width: 33.33%;
}

.participation-process.mb-bond-process .ps-timeline-sec ol.ps-timeline li .img-handler-top {
    left: -32%;
}
.participation-process.mb-bond-process  .content-step {
    width: 76%;
}
@media (max-width: 1466px) { 
    .participation-process.mb-bond-process .ps-timeline-sec ol.ps-timeline li .img-handler-top {
        left: -37% !important;
    }
}
@media (max-width: 768px) { 
    .participation-process.mb-bond-process .ps-timeline-sec ol.ps-timeline li .img-handler-top {
        left: -30% !important;
    }
}
.participation-process.mb-bond-process .content-step {
    height: 65px;
}

.participation-process.mb-bond-process .ps-timeline-sec ol.ps-timeline li>span.ps-sp-top:before {
    height: 69px !important;
    top: -69px!important;
}

.package {
    background: rgba(248, 247, 247, 0.81);
    padding: 65px 0px;
}
.package .icon-box {
    padding: 18px 16px 30px;
    border: 1px solid #e5e5e5;
    height: 370px;
    transition: 0.5s;
}

.package .icon-box h4 {
    margin-bottom: 15px;
    font-size: 25px;
}

.package .icon-box h5 {
    margin-bottom: 15px;
    font-size: 22px;
}

.package .icon-box p {
    line-height: 30px;
    margin-bottom: 0px;
    height: 120px;
}

.package .icon-box a:hover {
    color: #0a1e40 !important;
}

.package .icon-box:hover {
    transform: scale(1.1);
    border-color: #153163bd;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.icon-box .color-g.size18 {
    position: absolute;
    bottom: 30px;
    left: 38%;
}

@media (max-width: 991px) {
    .package .icon-box {
        margin-top: 40px;
    }
}

/*Agent*/

.agent li {
    vertical-align: middle;
    display: table-cell;
}

.agent {
    padding: 0px 0px 120px 0px;
}

.utilities .icon-box {
    border: 1px solid #e5e5e5;
    padding: 30px 10px 0px 23px;
    min-height: 190px;
    margin-bottom: 35px;
    transition: .5s;
    height: 190px;
}

.utilities .icon-box:hover {
    border-color: #153163bd;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.prb-56-35 {
    padding-right: 56px;
}

@media (max-width: 1220px) {
    .utilities .icon-box {
        min-height: 230px;
    }
    .prb-56-35 {
        padding-right: 15px;
    }
}

@media (max-width: 760px) {
    .utilities .icon-box {
        min-height: auto;
    }
}


.utilities .icon {
    padding-right: 20px;
}
.utilities-box h4 {
    font-family: Avert-Semibold;
    font-size: 22px;
    color: #000000;
}

.utilities-box p {
    font-size: 16px;
    color: #455a64;
}

.table-bond th {
    background: rgba(196, 196, 196, 0.2);
    font-size: 16px;
    font-family: Avert-Regular;
}

.table-bond tbody th {
    font-family: Avert;
    font-size: 14px;
}

.table-bond tbody td {
    padding: 18px 27px;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #e5e5e5;
}

/*able-services*/

.table-services, .table-services thead th, .table-services td, .table-services tr, .table-services> :not(:first-child), .table-fund td {
    border: none !important;
    border-width: 0px;
    padding: 14px 44px;
}

.table-services th {
    background: rgba(196, 196, 196, 0.2);
    font-family: Avert-Regular;
}

.table-fund tr:nth-child(odd) {
    background: rgba(196, 196, 196, 0.2);
}

.table-fund tr:nth-child(even) {
    background: rgba(196, 196, 196, 0.1);
}

.table-fund .td-odd {
    max-width: 300px;
    font-family: Avert-Regular;
    font-size: 18px;
    width: 300px;
}

/*mbbond-documents*/

.mbbond-documents select {
    border-radius: 0px;
    height: 48px;
    font-size: 16px;
    color: #4c4c4e;
}

.mbbond-documents a {
    height: 50px;
    line-height: 48px;
    padding-right: 80px;
    font-size: 20px;
}

.table-bordered thead td, .table-bordered thead th, .table> :not(:first-child) {
    /* border-bottom-width: 1px; */
    border: 1px solid #e5e5e5;
    vertical-align: middle;
}

/*--------------------------------------------------------------
  # News
  --------------------------------------------------------------*/

#news {
    width: 100%;
    height: 350px;
    background: url(../img/bannernews.png) top left;
    background-size: cover;
    position: relative;
}

.title-news {
    font-size: 35px;
    padding-left: 0px;
}

.post-image img {
    width: 100%;
}

.news-list .post-text {
    background: #202c4b;
    padding: 32px;
    color: white;
}

.post-date {
    font-size: 16px;
    padding-bottom: 10px;
}

.post-excerpt {
    font-size: 16px;
    padding-bottom: 6px;
    text-align: justify;
}

.post-image {
    background-size: cover;
    position: relative;
}

.related-news .title-post a {
    color: #4c4c4e;
    font-family: Avert-Regular;
}

.related-news {
    margin-bottom: 100px;
}

.more-news p {
    margin: 0;
    font-family: Avert-Semibold;
}

.more-news .post-date {
    font-size: 14px;
}

/*--------------------------------------------------------------
  # Recruitment
  --------------------------------------------------------------*/

.title-recruitment a {
    font-size: 25px;
    color: #254275;
}

.item-recruitment {
    border-bottom: 1px solid #e5e5e5;
    padding: 40px 0px 40px 0px;
}

.recruitment-excerpt {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 30px;
    font-family: Avert;
}

.recruitment-regime span {
    /*padding-right: 60px;*/
    position: relative;
    padding: 0px 60px 0px 40px;
    color: #333a57;
    font-size: 16px;
}

.recruitment-regime span::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background: #c4c4c4;
    border-radius: 11px;
    top: 5px;
    left: 0px;
}

.mb-environment h3 {
    font-size: 34px;
    font-family: Avert-Regular;
    padding-bottom: 20px;
}

.mb-environment h4 {
    font-size: 18px;
    color: #0a1e40;
    padding: 10px 0px;
}

.mb-environment p {
    font-size: 16px;
    line-height: 26px;
    color: #4c4c4e;
    margin-bottom: 30px;
}

.space {
    height: 600px;
}

/*--------------------------------------------------------------
  # Investment
  --------------------------------------------------------------*/

#banner-investment {
    width: 100%;
    height: 350px;
    background: url(../img/investment.png) top left;
    background-size: cover;
    position: relative;
}

.search-investment {
    position: relative;
    /*margin-top: 33px;*/
    width: 450px;
    margin: 36px auto;
}

.search-investment input {
    border: 1px solid rgba(60, 60, 67, 0.1);
    height: 47px;
    border-radius: 0px;
    background: #e5e5e5;
    padding-left: 50px;
    font-size: 16px;
    font-family: Avert;
    letter-spacing: 0.2px;
    /* opacity: 0.36; */
    color: #4c4c4e;
}

.search-investment input::placeholder {
    color: #4c4c4e;
}

.search-investment span {
    position: absolute;
    left: 16px;
    top: 10px;
}

.search-investment span i {
    font-size: 24px;
    color: #c4c4c4;
}
#pills-tabContent table td{
    font-family: Avert !important;
  }
@media (min-width: 750px) {
    #type-calculation-tool {
        width: 750px !important;
    }
   
}

.list-report h4 {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-family: Avert;
    text-transform: uppercase;
}

.list-report .investment-box p {
    color: #9b9bac;
    font-size: 16px;
}

.investment-box {
    padding: 0px 0px 30px 15px;
}

.list-report {
    padding: 48px 0px 0px 0px;
    position: relative;
}

.list-report .col-lg-2::before {
    content: "";
    height: 100%;
    width: 1px;
    left: 50%;
    top: 0px;
    background: #e5e5e5;
    position: absolute;
}

#banner-investment select {
    background: rgba(245, 245, 245, 0);
}

#banner-investment .custom-btn-op1 {
    background: unset;
    color: white;
    border: 1px solid #bd9976;
    font-size: 16px;
}

#banner-investment.bg-guideline select {
    background: rgba(245, 245, 245, 0.3);
}

#banner-investment.bg-guideline .custom-btn-op1 {
    background: #bd9976;
}
.mnfv .mbfv-total h6{
    text-align: center!important;
}
.chart-tool {
    margin: auto;
    width: 550px;
}
#div-chart-3 h3{
    font-size: 36px;
    font-family: Avert-Regular!important;
}
/*--------------------------------------------------------------
  # MBVF
  --------------------------------------------------------------*/

.mbvf-target {
    line-height: 48px;
}

.mbvf-target input {
    padding: 0px 14px;
    font-size: 16px;
    line-height: 48px;
}

.mbvf-target span {
    padding: 0px 10px;
    font-size: 16px;
    line-height: 48px;
}

.mbvf-target input, .mbvf-target input:focus {
    background: unset;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    height: 48px;
    outline: none;
    font-size: 25px;
    color: #fff;
}

.mbfv-total {
    padding: 30px 0px 35px 0px;
}

.btn-estimate {
    font-size: 16px;
    width: 150px;
    height: 48px;
    border: unset;
    color: white;
    text-transform: uppercase;
}

.mbfv-total h6 {
    font-size: 18px;
    color: #f2f2f2;
    font-family: Avert;
    text-align: left!important;
}

.totalmoney {
    font-size: 25px;
    font-family: Avert-Regular;
    padding-top: 10px;
}

.totalmoney.color-yellow {
    font-size: 35px;
}

.mnfv-sip {
    border: 1px solid rgba(245, 245, 245, 0.43);
    padding: 42px 56px;
}

.mbfvinput {
    position: relative;
}

.mbfvinput span {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 16px;
}

.mbfvinput1 {
    width: 220px;
}
.mbfvinput1.width-50{
    width: 50%!important;
}
#pills-calculator h5.title-bond{
    font-size: 26px;
}
.mbfvinput1 input, .mbfvinput2 input {
    padding-right: 53px;
}

.mbfvinput2 {
    width: 130px;
}
.agent-mobile{
    display: none;
}

.investment-list .title-steps {
    font-size: 20px;
    font-family: Avert-Semibold;
    line-height: 35px;
    color: #0a1e40;
}

.steps-investment .br-steps::after {
    content: "";
    height: 170px;
    width: 1px;
    top: 21%;
    background: #e5e5e5;
    position: absolute;
    right: 0px;
}

.investment-list p {
    font-size: 16px;
}

.steps-investment .step01 {
    font-size: 110px;
    color: #0a1e40;
    opacity: 0.5;
    font-family: Avert-Regular;
}

.investment-list {
    padding: 50px 0px 0px 17px;
}

.investment-list li {
    list-style: disc;
    line-height: 62px;
}

.investment-list li::marker {
    font-size: 12px;
}

.ps-timeline-sec.process .position-relative .container::before, .participation-process.mb-bond-process .ps-timeline-sec .container::before {
    background: #e5e5e5;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 0px;
    content: " ";
    border-radius: 20px;
    bottom: -9px;
}

/*--------------------------------------------------------------
  # Uy thac dau tu
  --------------------------------------------------------------*/

.structure p {
    line-height: 53px;
}

.structure .radio-item label {
    line-height: 39px;
    height: 48px;
}

.structure.border-right {
    border-right: 1px solid rgba(229, 229, 229, 0.3) !important;
}

.process-participation.ps-timeline-sec ol.ps-timeline li {
    width: 20%;
}

.process-participation .number {
    padding: 0px 17px;
    position: absolute;
    top: 0px;
}

.process-participation.ps-timeline-sec ol.ps-timeline li .img-handler-top {
    margin-bottom: 111px;
}

.process-participation .content-step {
    margin-left: -19px;
}

.process-participation .content-s {
    margin-left: 40px;
    padding-right: 42px;
}

.process-participation ol.ps-timeline li .img-handler-top {
    top: -136px;
    margin-bottom: 80px;
    bottom: unset;
    width: 100%;
}

.process-participation ol.ps-timeline li span.ps-sp-top:before {
    height: 80px;
    top: -80px;
}

.process-participation ol.ps-timeline {
    margin: 180px 0 !important;
}



/*--------------------------------------------------------------
  # FAQ
  --------------------------------------------------------------*/

.list-faq .accordion-item {
    border-radius: 0px;
    border: unset;
    border-bottom: 1px solid #fff;
}

.list-faq .accordion-header, .list-faq .accordion-button {
    background: #f2f2f2;
    height: 50px;
    font-size: 18px;
    color: #0a1e40;
    font-family: Avert;
    box-shadow: unset;
}

.list-faq .accordion-body {
    padding: 23px;
    font-size: 18px;
    line-height: 43px;
    text-align: justify;
}

.list-faq .accordion-button::after {
    background-image: url("../img/up.png");
    background-size: auto;
    padding-top: 13px;
    position: absolute;
    top: 22px;
    right: 18px;
}
.accordion-body li{
    list-style: unset;
}
.list-faq .accordion-button:not(.collapsed)::after {
    top: 11px !important;
}

.border-l {
    border-left: 1px solid #e5e5e5;
}

.menu-faq {
    padding: 110px 19px 0px 0px;
}

.menu-faq li {
    font-size: 16px;
    padding-bottom: 30px;
}

.menu-faq li .active {
    font-size: 18px;
    font-family: Avert-Regular;
    line-height: 20px;
}

.space1 {
    height: 200px;
}
.table-mbbond-responsive{
    display: none;
}
.table-mbbond-responsive hr{
    background-color: #F2F2F2;
    opacity: 1;
}
.bieuphi{
    padding-left: 60px;
    position: relative;
}
.bieuphi p{
    position: relative;
}
.bieuphi span{
    width: 5px;
    height: 5px;
    background: #C4C4C4;
    position: absolute;
    border-radius: 50%;
    top: 9px;
    left: -11px;
}
.bieuphi span::after{
    content: "";
    position: absolute;
    top: 2px;
    left: -20px;
    width: 20px;
    height: 1px;
    background: #C4C4C4;
}

.bieuphi::after{
    content: "";
    position: absolute;
    top: 11px;
    left: 28px;
    width: 1px;
    height: 88.5%;
    background: #C4C4C4;
} 
.bieuphi p:last-child::after{
    content: "";
    position: absolute;
    top: -28px;
    left: -37px;
    width: 23px;
    height: 62px;
    background: #FFF;
    z-index: 999;
}
/*--------------------------------------------------------------
  # Detail news
  --------------------------------------------------------------*/

#news .breadcrumb {
    background: unset;
    color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "";
    background-image: url(../img/next.png);
    background-repeat: no-repeat;
    width: 19px;
    height: 18px;
    margin-top: 5px;
    margin-left: 8px;
}

.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-item a {
    color: #bdbdbd;
}

.detail-meta {
    color: #e5e5e5;
    font-size: 14px;
}

.title-detail {
    font-family: Avert-Regular;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-get-started:hover {
    color: #fff;
}

.box-detail {
    line-height: 37px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.item-recruitment:last-child {
    border-bottom: unset;
}

/*mbfv-calculate*/

.mbfv-calculate .mbvf-target .label-calculate {
    width: 250px;
}

.br-mbvf {
    border-right: 1px solid #f2f2f247;
}

.mbfv-calculate.contact {
    padding: 50px 0px 50px 0px;
}

/*--------------------------------------------------------------
  # JAMBF
  --------------------------------------------------------------*/

.jambf-title {
    font-size: 36px;
    line-height: 60px;
    padding-top: 15px;
    font-family: Avert-Regular;
}

.list-jambf {
    border-bottom: 1px solid #e0e0e0;
    padding: 44px 0px 46px 0px;
}

.list-jambf .post-text {
    padding-left: 20px;
}

.list-jambf .title-post a {
    font-size: 30px;
    line-height: 37px;
    font-family: Avert-Regular;
}

.list-jambf .post-date {
    font-size: 16px;
    color: #828282;
}

.list-jambf .post-excerpt {
    font-size: 16px;
    line-height: 35px;
}

.list-jambf .read-more {
    position: absolute;
    bottom: 0px;
    font-size: 18px;
}

.list-jambf .col-lg-4 img {
    border: 1px solid #e0e0e0;
}

.list-jambf .jambf-logo {
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    right: 0px;
}

/* month line- loinhuankyvong */

.node-month {
    height: 200px;
    text-align: center;
}

.node-month .line-hoz-div {
    border-top: 1px solid #8699b3;
    /* position: relative; */
    margin-top: 100px;
}

.node-month .node-cr {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    background-color: #eb5757;
    top: 60%;
    left: 45%;
}

.node-month .month {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    color: #0a1e40;
}

.node-content {
    margin-bottom: -20px;
}

.node-content p {
    font-size: 30px;
    line-height: 49px;
    font-family: Avert-Semibold;
    color: #4f4f4f;
}

.ps-line-top:before {
    content: "";
    width: 2px;
    height: 60px;
    position: absolute;
    top: 55px;
    left: 48%;
    border-left: 1px dashed #4c4c4e;
    opacity: 0.36;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.owl-carousel .owl-prev.disabled, .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0;
}

.owl-carousel .nav-btn {
    top: 113px !important;
}

.owl-carousel .prev-slide, .owl-carousel .next-slide {
    width: 32px;
    height: 32px;
    padding: 5px;
    background: #e4e4e7;;
    border-radius: 6px;
    color: #4c4c4e;
}

.owl-carousel .prev-slide {
    left: -40px;
}

.owl-carousel .next-slide {
    right: -43px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -40px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

/*--------------------------------------------------------------
  # Kiên thức đầu tư
  --------------------------------------------------------------*/
.investment-detail{
    line-height: 43px;
}
.w150{
    min-width: 150px
}
.w180{
    min-width: 180px;
} 
.list-magager-card .card-body p{
    margin-bottom: 0px;
    line-height: 22px;
}
.card-hutri-info .my-auto,.box-detail{
    text-align: justify;
}
#agent  img{
    margin-bottom: 35px;
}
#pills-home .MsoNormal{
    margin-left: 0px!important;
}
.btn-login-xs,.social-mobile{
    display: none;
}
@media (max-width: 1376px){
    #pills-administrative .list-magager-card .card {
         /*--------------------------------------------------------------# about --------------------------------------------------------------*/
         width: auto; 
    }
    /*home*/
    .title-banner {
        line-height: 50px;
    }
    .utilities .icon-box {
        padding: 30px 10px 0px 23px;
    }
    .home-item-three .ps-timeline-sec ol.ps-timeline li .img-handler-bot {
        width: 180%;
    }
    .home-item-three .content-s h4{
        font-size: 20px;
    }
    .participation-process .paragraph  .content-step {
        margin-left: 95px;
        width: 210px;
        height: 100px;
    }
    .participation-process.mb-bond-process .content-step {
        width: 76%;
    }
    #services .ps-line::after {
        left: 106px;
        display: none;
    }
    #services .node-year .nodey-content {
        left: 27%;
    }
    #services .ps-line:before {
        left: 25%;
    }
}
@media (max-width: 1199px){
    .nbfv-calculate h3.title-bond {
        font-size: 31px;
    }
    .ps-line:before {
        content: "";
        width: 2px;
        height: 120px;
        position: absolute;
        left: 25%;
        border-left: 1px dashed #4c4c4e;
    }
    #services .node-year .nodey-content p {
        font-size: 18px !important;
    }
    #hero h1 {
        font-size: 27px;
    }
    #hero h2 {
        font-size: 21px;
    }
    .ps-timeline-sec.process .position-relative .container::before, .participation-process.mb-bond-process .ps-timeline-sec .container::before {
        display: none;
    }
    .package .icon-box h4 {
        font-size: 21px;
    }
    .package .icon-box h5 {
        font-size: 18px;
    }
    #footer .col-item {
        width: 30%;
    }
    #footer .infor{
        flex-wrap: wrap;
    }
    .title-banner {
        line-height: 50px;
    }
    /*--------------------------------------------------------------# mbvf --------------------------------------------------------------*/
    .mbfv-calculate .pl-5{
        padding-left: 0px!important   ;
  }
    .process.process-participation .content-step {
        margin-left: 18px;
    }
    .process.ps-timeline-sec.process ol.ps-timeline li span {
        left: 18%;
    }
    .process.ps-timeline-sec.process .position-relative::before {
        bottom: 188px;
    }
    /*-home-*/
    #myCarousel .title-banner{
        line-height: 40px;
    }
    #about .investment-options-section .option-card{
        border:none;
    }
    #main .exigency-card .title-card h6 {
        font-size: 21px;
    }
    .contact .box {
        padding:35px 0px;
    }
    .option-card .option-name ,#about .carousel-inner{
        height: auto;
    }
    #myCarousel .carousel-control-next,#myCarousel .carousel-control-prev {
        display: none;
    }
    .option-card .short-name {
        font-size: 20px;
    }
    .option-card .full-name {
        font-size: 17px;
        line-height: 20px;
    }
    .text-nav {
        font-size: 18px;
    }
    .calculation-tool {
        background-size: cover;
    }
    /*--------------------------------------------------------------# mbbond--------------------------------------------------------------*/
    #hero h1 {
        font-size: 30px;
    }
    #hero h2 .size50 {
        font-size: 35px;
    }
    .node-month .node-cr {
        left: 47%;
    }
    .package .icon-box:hover {
        transform: scale(1);
    }
    /*about*/
    #services .node-year .node-cy {
        left: 6%;
    }
    #services .node-year .nodey-content {
        left: 13%;
        width: 80%!important;
    }
    #services .ps-line:before {
        left: 11%;
    }
    #services .ps-line::after {
        display: none;
    }
    .contac-info{
        display: block!important;
        margin-bottom: 40px;
    }
    .contac-info .map{
        width: 100%!important;
        margin-bottom: 40px;
        height: auto!important;
    }
    .contac-info .map iframe{
        width: 100%!important;
    }

    .card-img-top {
        width: 100% !important;
        height: 383px!important;
    }
    .title-info h4{
        word-wrap: break-word;
        line-height: 24px;
        font-family: 'Avert';
        font-size: 16px !important;
    }
    .option-card .description {
        font-size: 15px;
        line-height: 24px;
        padding: 0px;
    }
    .utilities  .bonus-item p {
        font-size: 15px;
        line-height: 25px;
    }
    #paragraph  .form-contact {
        flex-wrap: wrap;
    }
    #paragraph .input-custom {
        width: 100%!important;
    }
    .paragraph  .exigency-card .description {
        font-size: 18px;
    }
    .investment-needs .exigency-card{
        width: auto;
    }
    .mbbond-documents a {
        line-height: 23px;
        padding-right: 15px;
        font-size: 16px;
        height: auto;
    }
    .interest-rate .size18{
        font-size: 16px!important;
    }
    .chart-container-dou {
        height: auto;
    }
    .steps-investment .col-lg-6 {
        padding-left: 15px!important;
    }
    #pills-contact .utilities .row .col-lg-5{
        width: 100%;
    }
    .introduce-detail .intro-item {
        width: 33.33%!important;
        text-align: center;
        padding: 0 10px;
    }
    .data-section .statistical .statis-item {
        width: 33.33%;
    }
    .btn-get-started, .investment-trust .btn-get-started {
        width: 200px;
    }
    .calculation-mbvfsip .mbvf-target {
        display: inline-block!important;
        width: 100%!important;  
    }
    .calculation-mbvfsip input, .calculation-mbvfsip .mbfvinput {
        width: 100%!important;
    }
    .calculation-mbvfsip .btn-estimate{
        margin-top: 20px;
    }
}
@media (max-width: 1024px){
    #pills-tabContent  .form-contact {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    #pills-tabContent .input-custom {
        width: 100%!important;
    }
}
@media (max-width: 986px){
    /*--------------------------------------------------------------# mbbond--------------------------------------------------------------*/
    #hero {
        height: auto;
    }
    #hero h1 {
        padding-bottom: 0px;
        padding-top: 20px;
    }
    #pills-tabContent .input-custom {
        width: 100%!important;
    }
    #pills-tabContent .pt-90 {
        padding-top: 30px;
    }

    #pills-tabContent .contact.contact-bond {
        padding: 20px 0 15px 0px;
    }

    .owl-carousel .prev-slide {
        left: -8px;
    }
    .owl-carousel .next-slide {
        right: -8px;
    }
    .ps-timeline-sec.process .position-relative .container::before, .participation-process.mb-bond-process .ps-timeline-sec .container::before {
        bottom: 88px;
    }
    .paragraph.item-three .mr-3{
        margin-right:5px!important ;
    }
    .mbbond-documents .select{
        padding-bottom: 20px;
    }
    .table-fund td {
        padding: 12px 12px;
    }
    .table-fund .td-odd {
        max-width: 183px;
        font-size: 15px!important;
        width: 183px;
    }
    #agent .title  {
        padding: 15px 0px;
    }
    .node-month .node-cr {
        left: 45%;
    }
    /*--------------------------------------------------------------# mbvf-sip--------------------------------------------------------------*/
    .mbvf-target {
        display: inline-block!important;
    }
     /*--------------------------------------------------------------# about--------------------------------------------------------------*/
    .data-section  .statistical .statis-item .number-statis p {
        font-size: 40px;
    }
   .data-section  .statistical .statis-item .label-statis p {
        font-size: 20px;
    }
    .utilities  .field-activity .f-ac-item .content-filed p {
        font-size: 15px;
    }
    .utilities .field-activity .f-ac-item .number-order {
        font-size: 55px;
    }
    .utilities .field-activity .content-filed{
        padding-top: 18px;
    }
    /*--------------------------------------------------------------# news --------------------------------------------------------------*/
    .post-image{
        padding: 0px;
    }
    /*home*/
    #main .exigency-card .title-card h6 {
        height: unset;
    }
    #myCarousel .title-banner {
        width: 80%;
        font-size: 30px;
        margin: auto;
    }
    .investment-needs {
        margin-top: 0px!important;
    }
    #myCarousel .exigency-card {
        margin-top: 25px;
    }
    .card-img-top {
        height: 278px!important;
    }
}
@media (max-width: 768px){
     /*--------------------------------------------------------------# uy thác đầu tư--------------------------------------------------------------*/
    .nbfv-calculate .col-md-6{
        width: 100%;
        border-right:none!important;
        padding-left: 15px!important;
    }
    .nbfv-calculate .structure .text-right{
        text-align: left!important;
    }
    .nbfv-calculate .radio-item label {
        width: 145px;
        height: 25px;
    }
    .nbfv-calculate .radio-item label:before {
        width: 24px;
        height: 24px;
    }
    .nbfv-calculate .radio-item input[type="radio"]:checked + label:after {
        top: 8px;
        left: 7px;
    }
    .nbfv-calculate .result-item{
        width: 100%!important;
        justify-content: left!important;
    }
    .mb-faq .border-l{
        border-width: 0px;
    }
    .size18-md{
        font-size: 18px!important;
    }
    .proifle-tabs {
        margin-top: 20px;
    }
   
    .search-box {
        width: 330px;
    }
    .home-item-three .ps-timeline-sec ol.ps-timeline li .img-handler-bot {
        width: 100%;
    }
    .introduce-detail .intro-item, .data-section .statistical .statis-item  {
        width: 100% !important;
    }
    #utilities .introduce-detail {
        display: block;
    }
    /* home */
    #myCarousel .title-banner, header .navbar-mobile li:nth-child(5), header .navbar-mobile li:nth-child(6),#topbar{
        display: none;
    }
    #header.fixed-top,#header {
        height: 35px;
    }
    .btn-login-xs{
        display: block;
    }
    .btn-login-xs li{
        position: relative;
    }
    .btn-login-xs .nav-link {
        padding: 24px 5px;
        height: 35px;
        font-size: 10px;
        text-transform: uppercase;
        position: relative;
    }
    .btn-login-xs li:nth-child(1)::before{
        content: "";
        height:17px ;
        background: white;
        width: 1px;
        position: absolute;
        top: 22px;
        right: 0px;
        opacity: 0.36;
    }
    .scrolled-offset {
        margin-top: 35px;
    }
    .exigency-card {
        margin-top: 15px;
    }
    .mobile-nav-toggle {
        font-size: 20px;
    }
    #hero p.color-w.size20{
        display: none;
    }
    .node-content p {
        font-size: 23px;
    }
    .menu-mbbond .transt-EN,.hide-desktop{
        display: block;
    }
    .participation-process.timeline-mbbond .ps-timeline-sec ol.ps-timeline{
        width: 100%;
        margin: 0px 0 !important;
    }
    .participation-process.mb-bond-process.timeline-mbbond .ps-timeline-sec ol.ps-timeline li {
        width: 100%;
        float: unset;
        padding-top: 0px;
    }
    .participation-process.mb-bond-process.timeline-mbbond  .ps-timeline-sec ol.ps-timeline li .img-handler-top {
        position: relative;
        margin-bottom: 0px;
        width: 100%;
        left: 0px !important;
    }
    .participation-process.mb-bond-process.timeline-mbbond  .ps-timeline-sec ol.ps-timeline{
        border: unset;
        padding-left: 0px !important;
        padding-top: 40px;
    }
    .participation-process.mb-bond-process.timeline-mbbond .ps-timeline-sec ol.ps-timeline li > span, .participation-process.mb-bond-process.timeline-mbbond .ps-timeline-sec ol.ps-timeline li > span::before {
        display: none;
    }
    .participation-process.mb-bond-process.timeline-mbbond .content-step {
        margin-left: 0px!important;
        width: 100%; 
    }
   .img-handler-top .content-step::after{
        content: "";
        position: absolute;
        background-image: url(../img/line_home.png);
        top: -20px;
        height: 100%;
        width: 20px;
        background-repeat: no-repeat;
        left: 31px;
        z-index: -1;
   } 
   .timeline-mbbond.hide-desktop .img-handler-top .content-step::after{
        left: 13px;
    }
   .participation-process.mb-bond-process.timeline-mbbond .step-number::after{
        content: "";
        position: absolute;
        background-image: url(../img/line_home.png);
        top: -20px;
        height: 100%;
        width: 20px;
        background-repeat: no-repeat;
        left: 11px;
        z-index: -1;
    } .img-handler-top .content-step{
        position: relative;
    }

    .img-handler-top .number{
        background: #ddb996;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        margin-right: 10px;
        
    }
  .participation-process.mb-bond-process.timeline-mbbond .content-step .step-number p,.img-handler-top .number {
        width: 25px;
        height: 25px;
        font-size: 16px;
        padding: 0px;
    }
}

@media (max-width: 700px){
    /*--------------------------------------------------------------# mbvf--------------------------------------------------------------*/
    .steps-investment{
        padding-bottom: 40px;
    }
    #utilities h3.title-bond {
        padding-top: 20px;
    }
      .mbvf-target,  .mbfvinput2 ,  .mbfvinput1  {
        width: 100%!important;
        padding-bottom: 0px;
    }
    .mnfv-sip {
        padding: 15px;
    }
    .btn-get-started, .investment-trust .btn-get-started {
        width: 200px;
    }
    .mb-pagination .page-item .page-link {
        font-size: 14px;
    } 
    .card-hutri-info .px-5.my-auto{
        padding: 0px 15px!important;
    }
    .title-news {
        padding: 40px 0px 20px 0px;
    }
    .package .icon-box h4 {
        font-size: 20px;
    }
    #hero .col-lg-6.pt-4{
        padding-top: 20px!important;
    }
    .btn-estimate {
        margin-top: 15px;
        width: 100%;
    }
    .package .icon-box h5 {
        margin-bottom: 6px;
        font-size: 20px;
    }
    .package .icon-box {
        height: auto;
        margin-top: 20px;
    }
    .package {
        padding: 30px 0px;
    }
    #hero .btn-watch-video {
        margin-bottom: 30px;
    }
    /*--------------------------------------------------------------# huong dan su dung --------------------------------------------------------------*/
    #banner-investment .col-md-3{
        width: 180px!important;
        max-width: 180px!important;
    }
    #banner-investment .col-md-2{
        width: 150px!important;
        max-width: 150px!important;
    }
    #banner-investment  .title-news {
        padding-top: 0px;
    }
    .search-investment{
        width: 100%;
    }
    .list-faq .accordion-header, .list-faq .accordion-button {
        height: auto;
    }
    .list-faq .number-order-accord {
        padding: 4px 8px;
    }
    /*--------------------------------------------------------------# header --------------------------------------------------------------*/
    .social-links.d-none{
        display: flex!important;
    }
    .social-links .mr-3 {
        margin-right: 6px!important;
    }
    /*home*/
    #myCarousel .title-banner {
        line-height: 24px;
        font-size: 16px;
        display: block;
    }
    #hero h1 {
        font-size: 22px;
        font-family: Avert-Regular;
    }
    #hero h1 span{
        font-size: 13px!important;
    }
    #hero .container  h2 {
        line-height: 12px;
    }
    .sub-description {
        font-size: 17px;
    }
    .sub-title-ht {
        font-size: 23px;
        line-height: 32px;
        text-align: center;
    }
    .calculation-frame .result .value {
        font-size: 18px;
    }

    /*huutri*/
    .calculation-frame .result {
        display: block!important;
    }
    #banner-investment .col-sm-12 {
        width: 100%!important;
        max-width: 100%!important;
        margin-bottom: 10px;
    }
    #banner-investment .col-sm-12  .custom-btn-op1 {
        min-width:100%;
    }
    .related-news .title-post a {
        font-size: 18px;
    }
    #services .node-year .node-cy {
        left: 8%;
    }
    #services .node-year .nodey-content.top-ct {
        top: 40px;
    }
    #services  .ps-line.bot:before {
        bottom: 55px;
        height: 92px;
        top: unset;
    }
    #services .node-year .nodey-content {
        width: 87%!important;
    }
    #services .ps-line:before {
        height: 125px;
        top: 43px;
    }
    .title-info {
        padding: 20px;
        width: 100%;
    }

    .table-w600 .table{
        width: 600px;
    }
    #utilities .search-infomation{
        display: block!important;
    }
    .search-box {
        width: 100%;
    }
    .search-infomation .select-year {
        width: 100%;
        margin: 0px!important;
        padding: 10px 0px;
    }
    .search-infomation button{
        /*margin-left: 0px!important;*/
        margin: auto!important;

    }
    .mbbond-documents .d-flex{
        display: block!important;
    }
    .mbbond-documents a {
        width: 100%;
        float: left;
        margin-bottom: 15px;
        padding-right: 0px;
    }
    .mbbond-documents hr{
        margin-top: 1rem!important;
        margin-bottom: 1rem!important;
    }
    .pt-md-20{
        padding-top: 20px;
    }
    #services .node-year .nodey-content p {
        font-size: 14px !important;
    }
    .node-year .node-cy {
        font-size: 18px;
    }
    .chart{
        height: auto!important;
    }
    .time-filter {
        width: 29.9%;
        height: 28px;
    }
    .filter-bar .custom-input-time {
        height: 34px;
        padding: 6px;
        font-size: 14px;
    }
    .filter-bar .custom-btn-op1 {
        height: 36px;
    }
    .charts {
         margin-top: 0px; 
    }
    .charts h4.title-bond{
        padding-top: 30px;
    }
    .radio-item label:before {
        width: 25px;
        height: 25px;
    }
    .radio-item input[type="radio"]:checked + label:after {
        width: 17px;
        height: 17px;
    }
    .tel,.tel span, .tel a {
        color: #fff!important;
    }
    #pageUser .mb-pagination .page-item {
        margin: 0px 5px;
    }
    #pageUser .mb-pagination .page-item .page-link {
        width: 28px;
        height: 28px;
        font-size: 15px;
        line-height: 30px;
    }
    .range-value span {
        display: none;
    }
    .card-img-top {
         height: auto !important; 
    }
    .node-content p {
        font-size: 18px;
    }
    .node-month .month {
        font-size: 12px;
    }
    .node-month .node-cr {
        width: 8px;
        height: 8px;
        top: 63%;
    }
    .owl-carousel-line .owl-nav{
        display: none;
    }
    .d-flex.interest-rate{
        display: block!important;
    }
    .d-flex.interest-rate .text-center, .box-tool .pt-30{
        text-align: left!important;
    }
    .box-tool{
        border: 0.5px solid rgba(245, 245, 245, 0.43);
        padding: 20px;
    }
    .title-bond-tool{
        margin-bottom: 30px;
    }
    .chart-container-dou .w-50{
        width: 100%!important;
        padding: 30px;
    }
    .chart-container-dou #mbbond-pie-legend-container.w-75 {
        width: 100%!important;
        margin-left: 20px!important;
    }
    .chart-container-dou .d-flex{
        display: block!important;
        padding-bottom: 50px;
    }
    .list-report .investment-box{
        width: 92%;
    }
    .list-report .investment-box h4 {
        word-wrap: break-word;
    }
    .agent-mobile{
        display: block;
        overflow: scroll;
    }
    .agent-mobile li:last-child{
        display: none;
    }
    .agent-mobile ul{
        width: 980px;
        max-width: 980px;
    }
    .agent-mobile2 {
         display: block!important; 
    }
    .agent-mobile2 li{
        display: none;
    }
    .agent-mobile2 li:last-child{
        display: block!important;
    }
    .agent-mobile.agent-mobile2 ul{
        width: 100%!important;
    }
    .jambf-title h3{
        font-size: 18px;
    }
    .color-dark {
        font-size: 14px;
    }
    .br-mbvf {
        border-right: none;
    }
    .pd-tool{
        padding: 20px;
    }
    .totalmoney,.mbfv-calculate .pb-30  {
        text-align: left!important;
        margin-left: 0px!important;
    }
    .survey-item {
        margin-bottom: 110px!important;
    }
    .survey button {
        margin-top:0px !important;
    }
    .survey .custom-btn-op1 {
        min-width: 190px;
    }
    #pick-tab-3{
        font-size: 16px
    }
    .custom-btn-op1-fullfill:hover {
        background-color: #bd9976 !important;
        color: #ffffff !important;
    }
    .survey button {
        margin-right: 15px !important;
    }
    .survey .custom-btn-op1 {
        min-width: 148px;
    }
    .mb-pagination .page-item .page-link {
        font-size: 18px;
    }
    .survey-item-next {
        margin: 30px 0px 30px!important;
    }
    .bnt-result{
        margin-bottom: 70px;
    }
    .survey .mb-pagination .page-item .page-link {
        width: 28px;
        height: 28px;
        font-size: 15px;
        line-height: 27px;
    }
    .survey .mb-pagination .btn-next,.survey .mb-pagination .btn-prev {
        line-height: 30px;
        font-size: 15px;
    }
    .survey-end{
        margin-bottom: 110px;
    }
    .survey .mb-pagination .page-item {
        margin: 0px 4px;
    }
    #type-calculation-tool select{
        margin-bottom: 20px;
    }
    #type-calculation-tool{
        padding: 0px 15px;
    }
    #type-calculation-tool button{
        width: 100%;
    }
    .proifle-tabs {
        height: auto!important;
    }
    .proifle-tabs ul, #myTabContent{
        margin-bottom: 0px!important;
    }
    .proifle-tabs li p{
        margin-bottom: 0px!important;
    }
    input[type="range"]::-webkit-slider-thumb {
        height: 22px;
        width: 22px;
        border-radius: 50%;
        background: #ddb996;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -10px;
    }
    .mbfv-slide.mt-5.pt-50{
        padding-top: 20px;
    }
    input[type="range"].mark::-webkit-slider-thumb {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -2px;
        margin-left: 3px;
    }
    input[type="range"] {
        height: 10px;
        background: #fff;
    }
    #myTabContent .table-bordered td,#myTabContent  .table-bordered th {
        border: 1px solid #fff!important;
    }
    #myTabContent tr:nth-child(1) {
        display: none;
      }
      #pills-tabContent table td{
        font-family: Avert !important;
      }
     #pills-calculator .range-value span {
        display: block;
    }
    .mbfv-slide1 .range-value span {
        width: 23px;
        height: 24px;
        line-height: 14px;
        font-size: 11px;
        transform: translate(-178%, 0);
        bottom: -35px;
    }
    .mbfv-slide2 .range-value span {
        width: 70px;
        height: 24px;
        line-height: 14px;
        font-size: 11px;
        transform: translate(-112%, 0);
        bottom: -35px;

    }
    .mbfv-slide3 .range-value span {
        width: 35px;
        height: auto!important;
        line-height: 14px;
        font-size: 11px;
        transform: translate(-59%, 0);
        bottom: -35px;
    }
   .pills-calculator .totalmoney {
        text-align: center!important;
        margin-left: 0px!important;
    }
    .mbvf-target input, .mbvf-target input:focus {
        font-size: 18px;
    }
    .mnfv .totalmoney{
        text-align: center!important;
    }
    .chart-tool{
        margin: auto;
        width: 300px;
    }
    #div-chart-3 h3{
        text-align: center;
        font-size: 18px;
    }
    #pills-calculator h5.title-bond{
        font-size: 18px;
    }
    .menu-support{
        display: block;
    }
    .mb-profit{
        padding: 0px 30px 50px;
    }
    .mb-profit p{
        margin-bottom: 0px;
        font-size: 12px;
    }
    .table-mbbond-responsive b{
        font-family: Avert-Regular;
    }
    .box-tool lable{
        font-size: 14px;
        padding-bottom: 10px;
    }
    .box-tool .mt-5{
        margin-top: 20px!important;
    }
    .totalmoney {
        font-family: Avert-Semibold;
        font-size: 25px;
    }
    .totalmoney span{
        font-family: Avert!important;
        font-size: 18px!important;;
    }
    .search-infomation button{
        width: 100%;
    }
    .bn-mbretire .pt-md-2{
        margin-bottom: 20px;
    }
    .form-calculator .label span{
        font-size: 14px;
    }
    .list-report h4 {
        text-transform: inherit;
    }
    .investment-box {
        padding: 0px 0px 10px 15px;
    }
    .title-detail {
        font-size: 18px;
    }
   #news .custom-btn-op1 {
        height: 35px;
        font-size: 14px;
    }
    .box-detail ul{
        padding-left: 0px;
    }
    .recruitment-detail {
        background: #fff; 
         border: 1px solid #fff;
    }
    .recruitment-detail .detail-item {
        border-bottom: 1px solid #fff;
    }
    #pills-mbvf .table td p:nth-child(2){
        font-family: Avert-Semibold;
    }
    .mbfvinput1.width-50 {
        width: 100%!important;
    }
   #div-chart canvas{
        height: 233px!important;
        width: 342px!important;
    }
    .accordion-body img{
        width: 100%!important;
    }
    #myCarousel .title-banner {
        display: none;
    }
    #allocate{
        height: 260px!important;
        width: 100%!important;
        margin-top: 30px;
    }
    .size18-md {
        font-size: 12px!important;
    }
    #agent img {
        margin-bottom: 0px;
    }
    .chart-container-dou3{
        margin: 30px 0px!important;
    }
    .chart-container-dou3 .col-md-6{
        padding: 0 10px!important;
        display: flex!important;
    }
    .chart-container-dou3 .col-md-6 p {
        font-size: 14px;
        text-align: left;
        width: 70%;
    }
    .chart-container-dou3 .col-md-6 h2 {
        font-size: 20px;
        width: 30%;
    }
    #pills-mbbond{
        border: 1px solid #DCDCE2;
    }
    .table-mb-tvts td .round::after{
        content: "";
        position: absolute;
        left: -23px;
        top: 5px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: #EB5757;
        z-index: 99;
       }
       .table-mb-tvts td .round::before{
        content: "";
        position: absolute;
        left: -18px;
        top: 9px;
        height: 2px;
        width: 13px;
        border-radius: 50%;
        border-top: 1px dotted #4C4C4E;
        opacity: 0.36;
       }
       .table-mb-tvts td span{
        position: relative;
       }
       #pills-mbbond {
           padding-left: 30px;
       }
       .table-mb-tvts tr{
           position: relative;
       }
       .table-mb-tvts tr::after{
        content: "";
        position: absolute;
        left: -11px;
        top: 5px;
        height: 100%;
        width: 1px;
        border-radius: 50%;
        background: #9B9BAC;
        opacity: 0.5;
       }

}
@media (max-width: 414px){
     /*--------------------------------------------------------------# mbbond--------------------------------------------------------------*/
    #agent .aos-init {
        margin-bottom: 30px!important;
    }
    .pb-2.size20 p{
        font-size:17px!important;
    }
    h3.title-bond {
        font-size: 28px;
    }
    .title-bond-tool {
        font-size: 25px;
    }
    #hero h2 {
        font-size: 14px;
        margin-top: 10px!important;
    }
    #hero h2 .size50 {
        font-size: 22px;
    }
    .package .icon-box p {
        height:auto;
    }
    .icon-box .color-g.size18 {
        position: relative;
        bottom: unset;
        left: unset;
    }

     /*--------------------------------------------------------------# mbvf --------------------------------------------------------------*/
     .steps-investment .pl-5{
        padding-left: 15px!important;
    }
    .steps-investment .step01 {
        font-size: 55px;
        width: 20%;
    }
    .content-s .size18{
        font-size: 16px !important;
    }
    .investment-list {
        padding: 15px 0px 0px 17px;
    }
   
    .mbfv-calculate .mbvf-target .label-calculate {
        width: 175px;
    }
    #hero h2{
        line-height: 47px;
    }
    .range-time .d-flex  {
        width: 100%;
        margin-right: 0px!important;
    }
    .range-time  .custom-btn-op1 {
        min-width: 100%;
    }
    .btn-get-started, .investment-trust .btn-get-started {
        width: 50%;
        margin: auto;
        margin-right: 10px;
        height: 35px;
        line-height: 35px;
    }
    #news.investment-trust .btn-get-started {
        width: 156px;
        margin: auto;
    }
    .utilities-box h4 {
        font-size: 18px;
    }
     /*--------------------------------------------------------------# about --------------------------------------------------------------*/
    .package .introduce-detail,.utilities  .field-activity{
        display: block;
    }
    .data-section{
        padding: 30px 0px;
        height: auto!important;
    }
    .data-section .statistical{
        display: block;
    }
    .data-section .statistical .statis-item {
        width: 100%;
    }
    .services .node-year .node-cy {
        left: 10%;
    }
    .services  .node-year .nodey-content {
        position: absolute;
        left: 21%;
        width: 282px;
    }
    .services .ps-line:before {
        left: 11%;
    }
    .services .ps-line::after {
        left: 59px;
    }
    .services .node-year p{
        font-size: 18px!important;
    }
    #utilities .proifle-tabs .nav-link {
        font-size: 14px;
        line-height: 20px;
        padding: 0px;
    }
    .search-infomation .search-box{
        width: auto;
    }
    .tab-content .list-magager-card .card {
        margin-bottom: 30px;
        width: auto;
    }
    h3.title-bond {
        font-size: 21px;
    }

    .slogan {
         padding: 0px;
    }
    /*home*/
    .investment-needs .exigency-card .title-card h6 {
        font-size: 18px !important;
        margin-bottom: 0px;
        line-height: 24px;
    }
    #header .logo img {
        height: 19px;
        margin-top: -6px;
    }
    .title {
        line-height: 30px;
    }
    #footer .infor  .col-item {
        width: 160px;
    }
    #footer .col-item .head-col h6 {
        font-size: 16px;
    }
    .investment-trust .title-news {
        font-size: 18px !important;
        margin-bottom: 20px;
        padding: 15px 0px 0px 0px;
    }
    h2.title-news {
        font-size: 20px !important;
    }
    .address-contact span {
        color: #fff;
    }
    #hero .col-lg-6 .justify-content-between a.text-white{
        font-size: 14px;
        font-family: Avert !important;
    }
    input[type="date"].input-custom {
        padding: 5px;
    }
    .input-custom {
        font-size: 14px;
    }
    .tab-bond .nav-link {
        font-size: 12px !important;
        height: 36px;
    }
    .contact {
        background-image: url(../img/bg-contac_mobile.png);
    }
    .contact::after {
        opacity: 0.7;
    }
    .contact  .custom-btn-op1-fullfill {
         width: 100%;
         margin-right: 5px!important;
    }
    #footer  .infor {
        display: none;
    }
    .copyright {
        font-size: 12px;
    }
    .mblinks{
        font-size: 12px;
        padding: 5px;
    }
    #footer  .head-col h6{
        font-size: 14px;
        font-weight: 400;
    }
    .social-mobile{
        display: block;
    }
    #footer .container.mt-4 {
        margin-top: 10px!important;
    }
   #footer .address-contact.mt-5 {
        margin-top: 20px!important;
    }
    .page-mbbond{
        padding: 0px;
    }
    .tab-bond{
        height: 36px;
        margin-top: -36px;
    }
    #hero .btn-watch-video i {
        font-size: 20px;
    }
    .hide_mobilde,.owl-carousel-line .owl-nav{
        display: none;
    }
    .table-mbbond-responsive{
        display: block;
    }
    .node-month .month {
        margin-top: 9px;
    }
    .node-month {
        height: 136px;
    }
    .node-month .line-hoz-div {
        margin-top: 48px;
    }
    .ps-line-top:before {
        height: 27px;
        top: 41px;
    }
    .node-month .node-cr {
        top: 54%;
    }
    .mobile-nav-toggle.bi-x {
        font-size: 29px;
    }
    header .navbar a i {
        font-size: 18px;
        position: absolute;
        right: 28px;
    }
    .menu-mbbond{
        width: 20px;
    }
    .navbar-mobile a {
        padding: 12px 3px;
    }
    .calculation-frame {
        padding: 30px;
    }
    .calculation-frame .result .label,.r-item {
        font-size: 16px;
        text-align: left;
    }
    .calculation-frame .note {
        margin-top: 15px!important;
        text-align: left!important;
    }
    .r-item.ml-3.mr-3{
        margin: 0px!important;
    }
    .r-item.ml-3.mr-3 i{
        font-size: 16px!important;
    }
    .mbfv-total h6.text-center{
        text-align: left!important;
    }
    .chart-container-dou3 ul li p {
        font-size: 16px !important;
    }
    .chart {
        margin-top: 30px !important;
    }
    .chart ul li p {
        font-size: 14px !important;
    }
    #banner-investment .title-news {
        text-align: left;
    }
    .related-news {
        overflow: hidden;
    }
    .news-list .box-detail img {
        width: 100%;
    }
    .chart-container-dou3 .col-md-6 h2 {
        font-size: 17px;
        width: 30%;
    }
    .cate-personal.nbfv-calculate {
        overflow: hidden;
    }

} 
@media (max-width: 390px){
    #services .node-year .nodey-content p {
        font-size: 13px !important;
    }
    #services .ps-line:before {
        left: 6%;
    }
    #services .node-year .nodey-content {
        left: 10%;
    }
    .owl-carousel .prev-slide, .owl-carousel .next-slide {
        width: 26px;
    }
    .node-year .node-cy {
        font-size: 20px;
    }
    
   .services .ps-line::after {
        left: 53px;
   }
   .social-links .mr-3 {
        margin-right: 4px!important;
        margin-left: 4px!important;
    }
    #myCarousel .title-banner {
        font-size: 16px;
    }
    #hero h1 span{
        font-size: 13px !important;
    }
    #hero .size20 {
        font-size: 18px !important;
    } 
    #hero h2 .size50 {
    font-size: 22px!important;
    }
    #hero h2 {
        font-size: 14px;
    }
    #hero .col-lg-6 .justify-content-between a.text-white{
        font-size: 12px;
    }
    .time-filter {
        width: 27%;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {   
    footer span{
        color: #fff!important;
    }
  } 