.list-magager-card .card {
    width: 323px;
    height: 520px;
    margin: 0 auto;
    /* -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; */
}
@media (max-width: 768px) {
    .list-magager-card .card {
        width: 200px;
        height: unset;
    }
}
.proifle-tabs {
    height: 78px;
    background-color: #fff;
    margin-top: 40px;
    position: relative;
}
.proifle-tabs .nav-link {
    font-size: 20px;
    line-height: 25px;
    color: #0a1e40;
}
.proifle-tabs li {
    width: 33.33%;
    flex: 1 1 auto;
    -webkit-box-flex: 1;
}

.proifle-tabs .nav-link.active {
    background-color: #fff;
    font-family: Avert-Semibold;
    color: #0a1e40;
}

.title-info {
    padding: 20px 0;
}

.introduce-detail {
    display: flex;
    justify-content: space-between;
}
.introduce-detail .intro-item {
    width: 400px;
    text-align: center;
    /* margin: 0 20px; */
}
.introduce-detail .title-intro h6 {
    font-family: Avert-Semibold;
    font-size: 22px;
    line-height: 27px;
    color: #0a1e40;
}
.introduce-detail .intro-item .description-intro {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
}
.introduce-detail .intro-item .description-intro p {
    font-size: 16px;
    line-height: 30px;
}
.sub-title-small h6 {
    font-family: Avert-Semibold;
    font-size: 18px;
    line-height: 22px;
    color: #0a1e40;
}

.field-activity {
    display: flex;
    justify-content: space-between;
}
.field-activity .f-ac-item {
    display: flex;
    align-items: center;
}
.field-activity .f-ac-item .number-order {
    font-family: Avert-Semibold;
    font-size: 80px;
    line-height: 99px;
    color: #e5e5e5;
    margin-right: 10px;
}
.field-activity .f-ac-item .content-filed p {
    font-family: Avert-Semibold;
    font-size: 18px;
    color: #4c4c4e;
}

.data-section {
    background-image: url("../img/background-img-2.png");
    height: 276px;
}

.statistical {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.statistical .statis-item {
    width: 300px;
    text-align: center;
}
.statistical .statis-item .label-statis p {
    font-size: 28px;
    line-height: 35px;
}

.statistical .statis-item .number-statis p {
    font-family: Avert-Semibold;
    font-size: 65px;
    line-height: 80px;
}
.statistical .statis-item .unit-statis {
    font-size: 18px;
    line-height: 22px;
}

/* year line */
.node-year {
    height: 180px;
    width: 100%;
}
.node-year .nodey-content {
    position: absolute;
    left: 32%;
    width: 400px;
    color: #4c4c4e;
}
.node-year .nodey-content.top-ct {
    top: 40px;
}
.node-year .nodey-content.bot-ct {
    /* bottom: 120px; */
    top: 220px;
}
.node-year .line-hoz-div {
    border-top: 1px solid #333333;
    /* position: relative; */
    margin-top: 200px;
}
.owl-carousel-year .nav-btn {
    top: 183px !important;
}
.ps-line:before {
    content: "";
    width: 2px;
    height: 120px;
    position: absolute;
    left: 30%;
    border-left: 1px dashed #4c4c4e;
}
.ps-line::after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    border-radius: 50%;
    background-color: #bd9976;
    left: 124px;
}
.ps-line.top:before {
    top: 50px;
}
.ps-line.bot:before {
    bottom: 32px;
}
.ps-line.top::after {
    top: 168px;
}
.ps-line.bot::after {
    bottom: 147px;
}
.node-year .node-cy {
    width: 84px;
    height: 36px;
    border-radius: 54px;
    position: absolute;
    background-color: #bd9976;
    top: 48%;
    left: 20%;
    font-size: 24px;
    color: #ffffff;
    line-height: 26px;
    padding: 6px;
    font-family: "Avert-Semibold";
    text-align: center;
}

/* About Khen thưởng */
.bonus-item {
    width: 100%;
    /* margin: 0 50px; */
}
.bonus-item p {
    font-size: 18px;
    line-height: 30px;
}
.bonus-item .img-bonus {
    position: relative;
    width: 100%;
    height: 150px;
}
.bonus-item .img-bonus img {
    width: unset;
    margin-left: auto;
    margin-right: auto;
}
.img-bonus p {
    font-family: Avert-SemiBold;
    position:absolute;
    bottom: 0;
    left: 30%;
    color: #F20123;
    text-transform: uppercase;
}
.bonus-item img {
    height: 100%;
}
.bonus-item .bonus-text {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
.bonus-item .bonus-text p {
    font-family: Avert-Regular;
    color: #000000;
}