
.mb-pagination  .page-link {
  border-radius: 20px;
}
.mb-pagination  .page-item{
  margin: 0px 8px;
}
.mb-pagination  .page-item .page-link{
  background: #E5E5E5;
  color: #000000;
  border:unset;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 22px;
  padding: unset;
  line-height: 35px;
}
.mb-pagination  .page-item.active a{
  background: #202C4B;
  color: #fff;
}
.mb-pagination  .btn-next,.mb-pagination  .btn-prev{
  line-height: 34px;
  font-size: 20px;
  padding: 0px 7px;
  color:#000;
  background: unset!important;
} 
.mb-pagination .page-item.disabled  a{
  color: #BDBDBD;
}
.mb-pagination  .bi-three-dots{
  color: #C4C4C4;
  font-size: 19px;
  line-height: 38px
}