.ps-timeline-sec {
  position: relative;
  background: #fff;
}


@media screen and (max-width: 1199px) {
  .ps-timeline-sec .ps-timeline-div {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .ps-timeline-sec {
    margin-bottom: 25px !important;
  }
  .ps-timeline-sec ol.ps-timeline {
    width: 1500px;
    margin: 250px 0 !important;
  }
  .participation-process .ps-timeline-sec ol.ps-timeline,
  .transaction-time .ps-timeline-sec ol.ps-timeline {
    margin: 200px 0 80px 0 !important;
    padding-left: 38px !important;
  }
  .participation-process .content-step {
    margin-left: 143px !important;
  }
}

.ps-timeline-sec ol.ps-timeline {
  margin: 280px 0;
  padding: 0;
  border-top: 1px dashed #455a64;
  list-style: none;
}
.ps-timeline-sec ol.ps-timeline li {
  float: left;
  width: 20%;
  padding-top: 30px;
  position: relative;
}
.ps-timeline-sec ol.ps-timeline li > span {
  width: 19px;
  height: 19px;
  margin-left: -25px;
  background: #ea2f4b;
  border-radius: 50%;
  box-shadow: 0 0 0 0px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #df8625;
  font-size: 2em;
  font-style: normal;
  position: absolute;
  top: -12px;
  left: 50%;
}
.ps-timeline-sec ol.ps-timeline li span.ps-sp-top:before {
  content: "";
  /* color: #348e80; */
  width: 2px;
  height: 56px;
  /* background: #348e80; */
  position: absolute;
  top: -56px;
  left: 50%;
  border-left: 1px dashed #455a64;
}
.ps-timeline-sec ol.ps-timeline li span.ps-sp-bot:before {
  content: "";
  /* color: #348e80; */
  width: 2px;
  height: 56px;
  /* background: #348e80; */
  position: absolute;
  bottom: -56px;
  left: 50%;
  border-left: 1px dashed #455a64;
}
.ps-timeline-sec ol.ps-timeline li .img-handler-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 90px;
  width: 130%;
}
.ps-timeline-sec ol.ps-timeline li .img-handler-top img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec ol.ps-timeline li .img-handler-bot {
  position: absolute;
  margin-top: 20px;
  width: 130%;
}
.ps-timeline-sec ol.ps-timeline li .img-handler-bot img {
  display: table;
  margin: 0 auto;
}
.ps-timeline-sec ol.ps-timeline li .ps-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}
.ps-timeline-sec ol.ps-timeline li .ps-bot {
  position: absolute;
  margin-top: 35px;
}

.investment-steps .content-step .step-number p {
  font-family: Avert;
  font-size: 111px;
  line-height: 137px;
  color: #7d7d7d;
  opacity: 0.6;
}
.investment-steps .content-step .step-number {
  padding: 10px;
}

.investment-steps .content-step .content-s p {
  font-family: Avert;
  font-size: 18px;
  line-height: 25px;
  /* letter-spacing: 0.03em; */
  color: #000000;
  height: 75px;
  display: inline-block;
}

.participation-process .content-step .step-number {
  margin-right: 10px;
}
.participation-process .content-step .step-number p {
  padding: 10px;
  width: 42px;
  height: 42px;
  background: #ddb996;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
.participation-process .ps-timeline-sec ol.ps-timeline li > span {
  background: #ddb996 !important;
  left: 0;
}
.participation-process .content-step {
  margin-left: 95px;
  width: 250px;
  height: 100px;
}
.participation-process
  .ps-timeline-sec
  ol.ps-timeline
  li
  > span.ps-sp-top:before {
  height: 96px !important;
  top: -96px !important;
}
.participation-process .ps-timeline-sec ol.ps-timeline,
.transaction-time .ps-timeline-sec ol.ps-timeline {
  border-top: 1px solid #c4c4c4;
  padding-left: 12px;
}
.participation-process .ps-timeline-sec ol.ps-timeline li .img-handler-top {
  left: -50%;
}

.transaction-time .content-step {
  margin-left: 95px;
  width: 250px;
  /* height: 100px; */
}

.transaction-time .ps-timeline-sec ol.ps-timeline li .ps-bot {
  margin-top: 0;
  left: 90px;
}
.transaction-time .ps-timeline-sec ol.ps-timeline li .ps-bot.active-trans,
.transaction-time .content-step.active-trans {
  font-family: Avert-Semibold;
  font-size: 16px;
}
.transaction-time
  .ps-timeline-sec
  ol.ps-timeline
  li
  span.ps-sp-top.transaction:before {
  border: 1px dashed #ddb996;
}

.transaction-time .ps-timeline-sec ol.ps-timeline li span.ps-sp-top:before {
  border: none;
}
.transaction-time .ps-timeline-sec ol.ps-timeline li > span.transaction {
  background: #ddb996;
}
.transaction-time .ps-timeline-sec ol.ps-timeline li > span {
  background: #e4e4e4;
}
.participation-process .ps-timeline-sec ol.ps-timeline,
.transaction-time .ps-timeline-sec ol.ps-timeline {
  margin: 200px 0 80px 0 !important;
}

/*--------------------------------------------------------------
  # Responsive timeline co hoi dau tu homepage
  --------------------------------------------------------------*/
  @media(max-width: 768px) {
    .investment-steps .ps-timeline-sec ol.ps-timeline{
        width: 100%;
        border-top:unset;
        margin: 0px 0 !important;
    }
    .participation-process .content-step {
      margin-left: 110px!important;
  }
    .investment-steps  .ps-timeline-sec ol.ps-timeline li {
        width: 100%;
        padding-top: 0px;   
    }
    .investment-steps .ps-timeline-sec ol.ps-timeline li .img-handler-bot  {
        position: relative;
        width: 100%;
        margin-top:0px;
    }
    .investment-steps .ps-timeline-div{
        overflow: unset !important;;

    }
    .investment-steps  .ps-timeline-sec ol.ps-timeline li > span,.investment-steps .ps-timeline-sec ol.ps-timeline li span.ps-sp-top:before {
        display: none;
    }
    .investment-steps  .ps-timeline-sec ol.ps-timeline li .ps-top , .investment-steps .ps-timeline-sec ol.ps-timeline li .img-handler-top {
        position: relative;
        margin-bottom: 0px;
        width: 100%;
    }
    .investment-steps .ps-timeline-sec ol.ps-timeline li {
        float: unset;
    }
    .investment-steps .content-s h4{
        font-size: 20px;
    }
    .investment-steps  .content-step .content-s p {
        font-size: 16px;
    }
    .investment-steps .content-step .step-number p {
        font-size: 12px;
        opacity: 1;
        width: 50px;
    }
    .investment-steps .content-step .step-number p a {
      position: absolute;
      height: 16px;
      line-height: 15px;
      background: linear-gradient(90deg, #DDB996 -124.41%, #DDB996 -124.18%, #B28D6D 1345.87%, #A37E5F 2149.45%);
      width: 16px;
      color: white!important;
      text-align: center;
      border-radius: 50%;
      top: 3px;
      left: 23px;
      z-index: 999;
  }
    .investment-steps .content-step .step-number {
        padding: 0px 10px;
    }
    .investment-steps .content-step::after{
      content: "";
      position: absolute;
      background-image: url(../img/line_home.png);
      top: -20px;
      height: 100%;
      width: 20px;
      background-repeat: no-repeat;
      left: 31px;
      z-index: 0;
    }
    .investment-steps .title{
      margin-bottom: 40px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .ps-timeline-sec ol.ps-timeline li:nth-child(5) {
      width: 16.5%;
  }
}