/**
* Template Name: BizLand - v3.6.0
* Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

body {
    font-family: Avert !important;
    color: #000;
}

@font-face {
    font-family: Avert;
    src: url("../fonts/AvertaStd-Light.otf");
}

@font-face {
    font-family: Avert-Regular;
    src: url("../fonts/AvertaStd-Regular.otf");
}

@font-face {
    font-family: Avert-RegularItalic;
    src: url("../fonts/AvertaStd-RegularItalic.otf");
}

@font-face {
    font-family: Avert-Semibold;
    src: url("../fonts/AvertaStd-Semibold.otf");
}
.loader{
  content: '';
  /*box-sizing: border-box;*/
  position: absolute;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  /*border-radius: 50%;*/
/*  border: 2px solid #ccc;
  border-top-color: #333;*/
  animation: spinner  linear infinite;
  background: url('/assets/loading2.gif')
              50% 50% no-repeat rgb(249,249,249);
  z-index: 1100;

}
.bold,
.fw-bolder {
    font-family: Avert-Semibold;
}
.fw-italic {
    font-family: Avert-RegularItalic !important;
}
.fw-normal {
    font-family: Avert !important;
}

.fw-regular {
    font-family: Avert-Regular;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #bd9976;
    text-decoration: none;
}
.link:hover{
    color: #ddb996;
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    font-family: Avert-Semibold;
    font-weight: unset;
}

h5,
h6 {
    font-family: Avert-Regular;
    font-weight: unset;
}

hr {
    background-color: rgba(229, 229, 229, 0.9);
    /* opacity: 1; */
}

li {
    list-style: none;
}

.bg-gold {
    background-color: #bd9976;
}

.bg-yellow {
    background: #e5e5e5;
}

.color-w {
    color: #fff !important;
}

.color-g {
    color: #ddb996 !important;
}

.color-dark {
    color: #202c4b !important;
}

.color-second {
    color: #0a1e40 !important;
}

.color-gray {
    color: #9b9bac;
}

.color-yellow {
    color: #f2c94c;
}
.color-lg{
    color:#828282 ;
}

.border-gold {
    border: 1px solid #bd9976;
}

.size23 {
    font-size: 23px !important;
}

.size16 {
    font-size: 16px !important;
}

.size17 {
    font-size: 17px !important;
}

.size18 {
    font-size: 18px !important;
}

.size20 {
    font-size: 20px !important;
}

.size22 {
    font-size: 22px;
}

.size25 {
    font-size: 25px;
}

.size26 {
    font-size: 26px;
}

.size50 {
    font-size: 50px;
}

.pl-100 {
    padding-left: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-30 {
    padding-bottom: 30px;
}
.pb-5r {
    padding-bottom: 5rem !important;
}
.pt-4 {
    padding-top: 4.5rem!important;
}
.op8 {
    opacity: 0.8;
}

.op2 {
    opacity: 0.2;
}

.op6 {
    opacity: 0.6;
}

.mw-150 {
    max-width: 150px;
}

.mt-40 {
    margin-top: 40px;
}

.pt-30 {
    padding-top: 30px !important;
}

.pb-60 {
    padding-bottom: 60px;
}
.mb-200 {
    margin-bottom: 200px !important;
}
.italic {
    font-style: italic !important;
}
.w-20 {
    width: 20% !important;
}
.w-80 {
    width: 80% !important;
}
/*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #106eea;
    border-top-color: #e2eefd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #ddb996;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #3284f1;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
  # Top Bar
  --------------------------------------------------------------*/

#topbar {
    background: #ffffff;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    color: #fff;
    padding: 0;
}

#topbar .contact-info i {
    font-style: normal;
    color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
    padding-left: 5px;
    color: #fff;
}

#topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

#topbar .contact-info i a:hover {
    color: #ddb996;
    text-decoration: underline;
}

#topbar .social-links a {
    color: #000000;
    line-height: 0;
    transition: 0.3s;
    /* margin-left: 20px; */
}

#topbar .social-links a:hover {
    color: #c9a684;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
    background-color: #0a1e40;
    transition: all 0.5s;
    z-index: 997;
    height: 86px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
    height: 70px;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: 0.8px;
    font-family: Avert - Regular, Avert - Semibold;
}

#header .logo a {
    color: #222222;
}

#header .logo a span {
    color: #106eea;
}

#header .logo img {
    max-height: 40px;
}

.scrolled-offset {
    margin-top: 70px;
}

.vertical {
    height: 20px;
    border: 1px solid #fff;
    opacity: 0.36;
}

.custom-btn-op1 {
    /* padding: 12px; */
    min-width: 160px;
    height: 44px;
    text-align: center;
    border-radius: 0px;
}

.custom-btn-op1-outline:hover {
    color: #fff !important;
    background-color: #bd9976;
    transition: all 0.5s;
}

.custom-btn-op1-outline {
    border: 1px solid #ddb996;
    color: #ddb996 !important;
    transition: all 0.5s;
}

.custom-btn-op1-fullfill {
    background-color: #bd9976;
    color: #ffffff;
    transition: all 0.5s;
}

.custom-btn-op1-fullfill:hover {
    background-color: transparent;
    border: 1px solid #bd9976;
    color: #ddb996 !important;
    transition: all 0.5s;
}

/**
  tab-bond
  */

.tab-bond {
    height: 78px;
    background: #0a1e40;
    margin-top: -78px;
    position: relative;
}

.tab-bond li {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
}

.tab-bond button {
    height: 78px;
}

.tab-bond .nav-link {
    color: #fff;
    border-radius: 0px;
    font-size: 22px;
}

.tab-bond .nav-link.active {
    color: #4c4c4e;
    background-color: #fff;
}

/*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 500px;
    background: url("../img/banrer-bond.png") top left;
    background-size: cover;
    position: relative;
}

/* #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  } */

#hero .container {
    position: relative;
}

#hero h1 {
    margin: 0;
    font-size: 35px;
    line-height: 30px;
    color: #fff;
    font-family: Avert-Semibold;
}

#hero h2 {
    color: #fff;
    margin: 0px 0 25px 0;
    font-size: 25px;
    font-family: Avert-Regular !important;
}

.btn-get-started,
.investment-trust .btn-get-started {
    font-family: Avert-Regular !important;
    font-size: 16px;
    transition: 0.5s;
    color: #ffffff;
    width: 270px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    margin-right: 25px;
}

#hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    color: #222222;
    font-family: Avert-Regular !important;
    display: flex;
    align-items: center;
    padding-top: 28px;
    margin-bottom: 50px;
}

#hero .btn-watch-video i {
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
}

#hero .btn-watch-video:hover {
    color: #106eea;
}

#hero .btn-watch-video:hover i {
    color: #3b8af2;
}
.jampf {
    height: 300px !important;
}
@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .btn-get-started,
    #hero .btn-watch-video {
        font-size: 12px;
    }
}
@media (max-width: 375px) {
    #hero .container {
        /* margin-top: 50%; */
    }
}

@media (max-height: 500px) {
    #hero {
        height: 120vh;
    }
}

/*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/

.breadcrumbs {
    padding: 20px 0;
    background-color: #f1f6fe;
    min-height: 40px;
    font-size: 25px;
    color: #fff;
}

.breadcrumbs h2 {
    font-size: 24px;
    font-family: Avert-Regular !important;
    margin: 0;
}

@media (max-width: 992px) {
    .breadcrumbs h2 {
        margin: 0 0 10px 0;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li + li {
    padding-left: 10px;
}

.breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #6c757d;
    content: "/";
}

@media (max-width: 768px) {
    .breadcrumbs .d-flex {
        display: block !important;
    }
    .breadcrumbs ol {
        display: block;
    }
    .breadcrumbs ol li {
        display: inline-block;
    }
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.translate-btn {
    background: #ffffff;
    border: none;
}

.alignment {
    /* 247px */
    margin-left: 247px;
    margin-right: 247px;
}

.title-banner {
    margin-top: 10%;
    background-color: rgba(10, 30, 64, 0.5);
    padding: 20px;
    width: auto;
    /* border-radius: 10px; */
    font-family: Avert-Regular !important;
    font-size: 45px;
    line-height: 69px;
    color: #ffffff;
}

#myCarousel .title-banner {
    margin-top: 12% !important;
    margin-left: 77px!important;
    width: auto;
}

.title-banner .line2 {
    margin-left: 80px;
}

@media (max-width: 991px) {
    .title-banner {
        width: 100%;
        font-size: 30px;
        margin-top: 0 !important;
        margin-left: 0 !important;
        border-radius: 0;
    }
}

@media (max-width: 1366px) {
    .title-banner {
        font-size: 30px;
        margin-top: 3%;
        margin-left: 8%;
    }
    .mbfvinput2 {
        width: 97px !important;
    }
    .mbfvinput1 {
        width: 139px !important;
    }
    .mbvf-target span,
    .mbvf-target input {
        padding: 0px 6px !important;
    }
    #myCarousel .title-banner {
        margin-top: 4% !important;
        margin-left: 111px!important;
        width: auto;
    }
}

.title {
    font-family: Avert-Semibold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #000000;
}

.investment-needs {
    display: flex;
    justify-content: space-between;
}

.investment-options-section,
.form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact .input-custom-ct::placeholder {
    color: #4c4c4e !important;
}

.form-contact .input-custom-ct {
    color: #4c4c4e !important;
}

.form-contact .input-custom-ct:focus {
    border: none;
}

.exigency-card {
    width: 400px;
    text-align: center;
    /* margin-right: 50px; */
}

.exigency-card img {
    width: 77px;
    height: 78px;
}

.exigency-card .title-card {
    margin-top: 30px;
}

.exigency-card .title-card h6 {
    font-family: Avert-Semibold;
    font-size: 25px;
    line-height: 37px;
    text-transform: uppercase;
    color: black;
}

.exigency-card .description {
    font-family: Avert;
    font-size: 22px;
    line-height: 30px;
    color: #707072;
}

.pb-60 {
    padding-bottom: 60px;
}

.investment-choice {
    background-color: #0a1e40;
    color: #ffff;
    padding: 60px 0;
}

.investment-choice .title {
    color: #fff;
}

.investment-options-section .option-card {
    text-align: center;
    padding: 20px;
    width: 100%;
    border-right: 1.5px solid;
    border-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgb(133 133 133) 48%,
        rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1;
}

.option-card .option-name {
    height: 100px;
}

.option-card .short-name {
    font-size: 22px;
    font-family: Avert-Semibold;
    line-height: 32px;
    color: #bd9976;
}

.option-card .full-name {
    font-family: Avert-Semibold;
    font-size: 25px;
    line-height: 31px;
}

.option-card .description {
    /* margin-top: 30px; */
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    opacity: 0.78;
    height: 120px;
    padding: 0 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option-card img {
    display: inline !important;
    width: 20px !important;
}

.vertical-op1 {
    border: 1px solid #ffffff;
    opacity: 0.36;
}

.option-card .value {
    font-size: 20px;
    /* line-height: 25px; */
    text-align: center;
    color: #ffffff;
}

.option-card .percent {
    font-size: 20px;
    /* line-height: 25px; */
    color: #ffffff;
}

.option-card .readmore a {
    font-size: 15px;
    line-height: 22px;
    color: #bd9976;
    text-decoration: none;
}

.blur {
    background-image: url("../img/backgroud-img-1.png");
    background-size: cover;
    overflow: hidden;
    filter: blur(13px);
    /* position: absolute; */
    height: 300px;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
}

@media (max-width: 991px) {
    .title {
        font-size: 28px;
    }
    .investment-needs,
    .investment-options-section,
    .form-contact {
        flex-wrap: wrap;
        justify-content: center;
    }
    .form-contact {
        flex-direction: column;
        align-items: unset;
    }
    .exigency-card {
        margin-top: 40px;
    }
    .exigency-card .title-card h6 {
        font-size: 20px;
    }
    .investment-options-section .option-card {
        padding: 0 !important;
        width: 100% !important;
    }
    .pluses {
        transform: rotate(90deg);
    }
    .option-card .description {
        height: 100px;
    }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

#footer p {
    color: #ffffff;
    font-size: 14px;
}

#footer {
    background-color: #0a1e40;
    color: #ffffff;
    padding: 30px 0 0 0;
}

#footer .infor {
    display: flex;
    justify-content: space-between;
}

#footer .col-item {
    width: 180px;
}

.col-item .head-col h6 {
    font-family: Avert-Regular;
    font-size: 18px;
    line-height: 22px;
}

.col-item .body-col a {
    /* margin-top: 30px; */
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.body-col .line-item {
    margin-top: 15px;
}

.col-item .body-col .dropdown-selected {
    height: 36px;
    padding: 6px 8px;
    font-size: 16px;
}

#footer hr {
    border-top: 1px solid rgb(255 255 255 / 10%);
}

#footer .address-contact p, .address-contact span {
    font-size: 14px;
    line-height: 18px;
    font-family: Avert-Regular !important;
}

#footer .custom-select {
    height: 36px;
    border: 1px solid #bd9976;
    border-radius: 0;
    background: transparent;
}

#footer select:focus {
    outline: none;
}

#footer .select {
    position: relative;
}

.select .icon {
    position: absolute;
    top: 5px;
    right: 10px;
}

.horizontal {
    height: 1px;
    background: #fff;
    opacity: 0.36;
}

.copyright {
    padding-bottom: 20px;
}

@media (max-width: 991px) {
    #footer .infor {
        flex-wrap: wrap;
    }
}

/* .calculation-tool {
    background-image: url("../img/backgroud-img-1.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
} */
.contact {
    background-image: url("../img/bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.advice {
    background-image: url("../img/bg.png") !important;
}

.contact .title {
    font-family: Avert-Semibold;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
}

.contact .box {
    background-color: rgb(20 20 20 / 30%);
    /* border-radius: 3px; */
    font-size: 2rem;
    color: #000;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    /* max-width: 50%; */
    height: 100%;
    padding: 89px 0px 152px;
}

.form-contact .mr-3 {
    flex: 1 1 auto;
    -webkit-box-flex: 1;
}

.input-custom,
.input-custom-ct {
    height: 44px;
    /* background: #e5e5e5; */
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 0px;
}

.input-custom-ct:focus {
    background: rgba(245, 245, 245, 0.6);
}

.sub-title {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
}

#myCarousel .carousel-inner {
    height: 600px;
}

#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

#myCarousel h4 {
    font-size: 50px;
    margin-bottom: 15px;
    color: #fff;
    line-height: 100%;
    letter-spacing: 0.5px;
    font-family: Avert-Semibold;
}

#myCarousel p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #d5d5d5;
}

#myCarousel .carousel-item a {
    background: #f47735;
    font-size: 14px;
    color: #fff;
    padding: 13px 32px;
    display: inline-block;
}

#myCarousel .carousel-item a:hover {
    background: #394fa2;
    text-decoration: none;
}

#myCarousel .carousel-item .title-banner {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#myCarousel .carousel-item img {
    -webkit-animation-name: zommIn;
    animation-name: zommIn;
}

#myCarousel .carousel-item h4 {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

#myCarousel .carousel-item p {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

#myCarousel .carousel-item a {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

#myCarousel .carousel-item .mask img {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    display: block;
    height: auto;
    max-width: 100%;
}

#myCarousel .title-banner,
#myCarousel p,
#myCarousel a,
#myCarousel .carousel-item .mask img {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#myCarousel img {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#myCarousel .container {
    max-width: 1430px;
}

#myCarousel .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 250px;
}

#myCarousel .carousel-item img {
    width: 100%;
}

#myCarousel {
    position: relative;
    z-index: 1;
    background: #ffffff;
}

.carousel-control-next,
.carousel-control-prev {
    height: 40px;
    width: 40px;
    padding: 12px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    background-color: rgb(0 0 0 / 25%);
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
    opacity: 0;
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

@supports (transform-style: preserve-3d) {
    .carousel-fade .carousel-item-left.active,
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item-prev.active,
    .carousel-fade .carousel-item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes zommIn {
    from {
        opacity: 0.5;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0) scale(1.05, 1.05);
    }
}

@keyframes zommIn {
    from {
        opacity: 0.5;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0) scale(1.05, 1.05);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

.pluses {
    float: left;
    border-left: 1.5px solid;
    border-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgb(133 133 133) 48%,
        rgba(255, 255, 255, 0) 100%
    );
    border-image-slice: 1;
    height: 300px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

/**
  * Desktop Navigation
  */

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar > ul > li {
    white-space: nowrap;
    padding: 10px 0 10px 15px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 0 3px;
    font-size: 14px;
    font-family: Avert;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar > ul > li > a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    /* background-color: #106eea; */
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #ddb996;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #0a1e40;
    box-shadow: 0px 0px 30px rgb(54 52 52 / 41%);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-family: Avert-Regular;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #ddb996;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1200px) {
    /* .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    } */
    #myCarousel .carousel-inner {
        height: 250px;
    }
    .carousel-inner .carousel-item img {
        height: 250px !important;
        width: 100%;
    }
    .mobile-nav-toggle {
        display: block !important;
    }
    .navbar-mobile {
        width: 50%;
        left: 50% !important;
    }
    .navbar ul {
        display: none;
    }
    .exigency-card .title-card h6 {
        font-size: 24px;
    }
    .exigency-card .description {
        font-size: 20px;
    }
}

@media (max-width: 1366px) and (min-width: 1200px) {
    #myCarousel .carousel-inner {
        height: 300px;
    }
    .carousel-inner .carousel-item img {
        height: 300px !important;
        width: 100%;
    }
    .banner-news {
        height: 350px;
    }
    .related-news .title-post a {
        font-size: 30px;
        line-height: 38px;
    }
    .related-news-row {
        border-bottom: 1px dotted rgb(228, 225, 225);
    }
    .title-post {
        font-size: 35px;
    }
    .title-detail {
        font-size: 35px;
    }
}

/**
  * Mobile Navigation
  */

.mobile-nav-toggle {
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .carousel-inner {
        height: 200px;
    }
    .carousel-inner .carousel-item img {
        height: 200px !important;
    }
    .banner-news {
        height: 200px;
    }
    .related-news .title-post a {
        font-size: 20px;
        line-height: 1.4;
    }
    .related-news-item {
        border-bottom: 1px dotted #ddd;
    }
    .title-detail {
        font-size: 25px;
    }
    /* .mobile-nav-toggle {
      display: block;
    }

    .navbar ul {
      display: none;
    } */
}

.navbar-mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0a1e40;
    transition: 0.3s;
    z-index: 9999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #0a1e40;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #ffff;
    justify-content: start;
    margin-top: 5px;
}

.navbar-mobile > ul > li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #ddb996;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    /* margin: 10px 20px; */
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #0a1e40;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 25%);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}


.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #ddb996;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

.calculation-tool {
    background-image: url(../img/bgmbsip.png);
    /* height: 304px; */
    color: #ffffff;
    padding: 54px 0 108px 0px;
}

/* Time filter for NAV */

.time-filter {
    width: 85px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 0;
    font-family: Avert-Regular;
    font-size: 16px;
    line-height: 14px;
}

.time-filter.active {
    background: #0a1f3f;
    color: #ffff;
}

.time-filter:hover {
    background: #0a1f3f;
    color: #ffff;
}

.custom-input-time {
    height: 40px;
    padding: 10px;
}

.text-nav {
    font-family: Avert-Semibold;
    font-size: 20px;
}

.vnd {
    font-size: 16px;
    margin-left: 10px;
}

/* Range Input */

input[type="range"] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
    height: 14px;
    border-radius: 20px;
    background: rgba(229, 229, 229, 0.4);
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    /* background: rgba(229, 229, 229, 0.4); */
    border-radius: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #ddb996;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -18px;
}

input[type="range"].mark::-webkit-slider-thumb {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background: #fcfcfc;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
    margin-left: 3px;
}

/* input[type="range"]:focus::-webkit-slider-runnable-track {
    background: rgba(229, 229, 229, 0.4); 
} */

.range-wrap {
    width: 100%;
    position: relative;
}

.range-value {
    position: absolute;
    top: -50%;
}

.range-value span {
    width: 121px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
    bottom: 0;
}

/* .range-value span:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #f5f5f521;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  } */

/* search */

.search-box {
    display: flex;
    background: #efefef;
    border: 1px solid rgba(60, 60, 67, 0.1);
    box-sizing: border-box;
    width: 565px;
    height: 48px;
}

.search-box .icon {
    padding: 10px;
}

.search-box .custom-input-search {
    height: 48px;
    background: transparent;
    border: 0;
}

.search-infomation .custom-select {
    width: 100%;
    height: 48px;
    background: #efefef;
    border: 1px solid rgba(60, 60, 67, 0.1);
    border-radius: 0 !important;
}

.search-infomation .select-year .icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.search-infomation .searchbox {
    width: 40%;
}

.search-infomation .select-year {
    position: relative;
    width: 30%;
}

.number-order-accord {
    background: #202c4b;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #ffff;
    text-align: center;
    padding: 4px;
    font-size: 16px;
    font-family: "Avert-Semibold";
    line-height: 16px;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 22px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d1d3d4;
    border-radius: 22px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

/* Tuyen dung css */

.env-characteristics {
    justify-content: space-between;
}

.slogan {
    padding: 0 15%;
}

.slogan h3 {
    font-family: Avert-Semibold;
    font-size: 34px;
    line-height: 42px;
    color: #000000;
}

.recruitment p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #4c4c4e;
}

.env-characteristics .env-item {
    width: 390px;
    margin: 0 10px;
}

.env-item img {
    width: 93px;
    height: 93px;
}

.env-title p {
    font-size: 18px;
    line-height: 22px;
}

.related-news-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.map {
    width: 650px;
    height: 450px;
}

@media (max-width: 414px) {
    /* mobile nav */
    .navbar-mobile {
        width: 100%;
        left: 0% !important;
        top: 34px;

    }
    .navbar-mobile .mobile-nav-toggle {
        position: absolute;
        top: -32px;
        left: 91%;
    }
    .navbar-mobile .dropdown ul a {
        font-size: 14px;
    }
    /* Home */
    #myCarousel .carousel-inner {
        height: 180px !important;
    }
    .title-banner {
        font-size: 28px;
    }
    .title {
        font-size: 22px !important;
    }
    .exigency-card .title-card h6 {
        font-size: 20px !important;
    }
    .exigency-card .description {
        font-size: 18px;
    }
    .investment-options-section .option-card {
        border-right: 0 !important;
    }
    /* banner */
    #news {
        height: 190px !important;
    }
    /* tuyen dung */
    .title-news {
        font-size: 28px !important;
        text-align: center;
        margin-bottom: 20px;
    }
    .env-characteristics {
        flex-direction: column;
        justify-content: unset;
    }
    .slogan h3 {
        font-size: 20px;
    }
    .env-characteristics .env-item {
        width: 100%;
        margin: 0;
    }
    /* contact */
    .contac-info {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .map {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
    /* about */
    .introduce-detail .intro-item {
        width: 100% !important;
    }
    /* huutr */
    .card-hutri-info {
        flex-direction: column;
    }
    .card-hutri-info .image{
        margin-bottom: 20px;
    }
    /* footer */
    #footer .address-contact {
        flex-direction: column;
    }
    #footer .col-item {
        width: 180px;
        margin-top: 20px;
    }
    .office-info .social-netwok {
        margin-bottom: 20px;
    }
    .contac-info .map {
        padding-left: 0px !important;
    }
}

/* custom input date */

/* input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    width: 26px;
    height: 26px;
    background-image: url("../icon/calendar.png");
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}

input[type="date"].input-custom {
    text-align: left;
    padding: 12px;
    -webkit-appearance: none;
}

input[type="date"].input-custom:before {
    color: #f5f5f5;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
}

input[type="date"].input-custom:focus:before {
    content: '' !important;
  }
  input[type="date"].input-custom:after {
    content: '' !important;
  } */
/* uythacdautu */
input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}
input[type="date"].input-custom {
    text-align: left;
    padding: 6px 12px;
    height: auto;
    -webkit-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    width: 26px;
    height: 26px;
    background-image: url("../icon/calendar.png");
}

input[type="date"].input-custom:before {
    color: #f5f5f5;
    content: attr(placeholder) !important;
    margin-right: 0.5em;
}
.resultsa {
    /* opacity: 0.3; */
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 20px;
}

.env-item img:hover {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

.o0 {
    opacity: 0;
}
.tran2s {
    transition: opacity .2s
}
@media (max-width: 768px){
    .banner-tab-fixed {
        top: 35px !important;
    }
}
.banner-tab-fixed {
    position: sticky;
    top: 70px;
    z-index: 9;
    /* box-shadow: 1px 2px 4px 3px #ddd; */
    opacity: 0;
    border-bottom: 1px solid #E5E5E5;;
}
.styleBarScroll {
    background-color: #fff !important;

}
.styleBarScroll .nav-link {
    color: #828282 !important;
}
.styleBarScroll .nav-link.active {
    font-family: Avert-SemiBold;
    color: #0A1E40 !important;
    border-bottom: 2px solid #0A1E40;
}
.filter-bar {
    align-items: center;
}
@media (max-width: 1466px) {
    .filter-bar {
        align-items: unset;
        flex-direction: column;
    }
    .filter-bar .range-time {
        margin-top: 20px;
    }
}
.dashed-border {
    width: 222px;
    border-bottom: 1px dashed #E5E5E5;
}
.circle-trans {
    width: 40px;
    height: 40px;
    border: 1px solid #333333;
    padding: 2px 3px;
    border-radius: 50%;
    text-align: center;
}
.circle-trans i {
    vertical-align: initial;
    line-height: 0;
}
.middle-content {
    vertical-align: top !important;
}
.chart-container-dou {
    width: 700px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.chart-container-dou .main-chart {
    position: absolute;
    top: -15%;
    width: 700px;
}
.chart-container-dou2 {
    width: 550px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.chart-container-dou2 .main-chart {
    position: absolute;
    /* top: -10%;  */
    width: 550px;
}
@media screen and (max-width: 768px) {
    .charts .chart-item .chart-title {
        width: 30% !important;
    }
}
@media screen and (max-width: 414px) {
    .chart-container-dou, .chart-container-dou2 {
        width: 350px;
        height: 500px;
    }
    .chart-container-dou .main-chart, .chart-container-dou2 .main-chart {
        position: absolute;
        top: 15%;
        width: 350px;
        height: 500px;
    }
    .charts .chart-item .chart-title {
        width: 80% !important;
    }
}

.justify {
  text-align: justify;
}
/*-----------------------------modal---------------------------*/
#homeModal  .modal-lg {
    max-width: 900px;
    margin-top: 120px;
}
#homeModal .modal-lg .modal-content{
    background-repeat: no-repeat;
    background-size: cover;
    height: 678px;
    border-radius: 15px;
    border-width: 0;
}
#homeModal .btn-close{
    color:#A98232;
    background: unset;
}
#homeModal .btn-close:focus {
    box-shadow: unset;

}
#homeModal h2{
    font-size: 21px;
    color: #0A1E40;
    font-family: Avert-Regular;
    padding-top: 10px;
}
#homeModal .detail-modal{
    text-align: justify;
    font-size: 16px;
    line-height: 35px;
    color: #333A57;
    padding: 55px 44px 0px 44px;
}
@media (max-width: 1366px) {
    #homeModal  .modal-lg {
        margin-top: 80px;
    }
}
@media (max-width: 900px) {
    #homeModal .modal-lg {
        margin: 80px 8px;
    }
    #homeModal .modal-lg .modal-content{
        background-position-x: right;
    }
}
@media (max-width: 500px) {
    #homeModal .modal-lg {
        margin: 89px 8px;
    }
    #homeModal .detail-modal{
        padding: 25px 12px 0px 12px;
    }
    #homeModal .modal-lg .modal-content{
        background-position-x: left;
    }
    #homeModal .modal-lg .modal-content {
        height: auto;
    }
    #homeModal .modal-lg  .modal-body img{
        width: 235px;
    }
    #homeModal h2{
        font-size: 16px;
    }
    #mbbond-pie-legend-container ul li p {
        font-size: 15px !important;
    }
}
@media (max-width: 370px) {
    #homeModal .detail-modal {
        line-height: 27px;
    }
}

.recruitment-detail{
    background: rgba(222, 228, 255, 0.17);
    border: 1px solid #DEE4FF;
    box-sizing: border-box;
}

.recruitment-detail .detail-item {
    border-bottom: 1px solid #DEE4FF;
}
.survey-item div{
    margin-top: 46px;
}
.sur-question{
    font-weight: 600;
    font-size: 14pt;
    line-height: 35px;
    color: #0a1e40;
}
.sur-answer{
    font-weight: normal;
    font-size: 12pt;
    line-height: 30px;
}
.form-check-label{
    margin: 12px 0 0 12px;
    color: #0a1e40;
}
.form-check-input {
    width: 24px;
    height: 24px;
    margin-top: 15px;
}
.form-check-input:checked {
    background-color: #0a1e40;
    border-color: #0a1e40;
}
.form-check-input:checked + .form-check-label {
    font-weight: 600;
}
.survey button{
    margin-top: 48px !important;
    margin-right:40px !important;
}
.survey p{
    font-size: 12pt;
}
.cate-asset div:first-child{
    border-right: 1px solid #dee2e6;
}
.survey .container a:hover{
    color: #bd9976;
    text-decoration: none;
}
#pills-tabContent table td{
    border-right: 1px solid #dee2e6 !important;
    font-size: 12pt !important;
    font-family: "Source Sans Pro" !important;

}
#pills-tabContent table td, th{
    color: #333A57 !important;
}
@media screen and (min-width: 1201px) and (max-width: 1300px) {
    .container {
        padding: 0;
    }
    .custom-btn-op1 {
        min-width: 115px;
        font-size: 15px;
        height: 40px;
    }
}
@media screen  and (max-width: 450px) {
    .introduce-detail h6{
        margin-left: -4px;
    }

}
/*css_new*/
.mb-faq .list-faq .accordion-button::after {
   background-size: auto;
   padding-top: 13px;
   position: absolute;
   top: 7px;
   right: 18px;
   transform: rotate(-180deg);
}
.mb-faq .accordion-button:not(.collapsed)::after {
  
    right: 13px;
}
.mb-faq .list-faq .accordion-button[aria-expanded="true"]::after {
    transform: rotate(0deg);
}
.mb-faq .list-faq .accordion-button[aria-expanded=" true "]::after {
    transform: rotate(0deg);
}
#pills-profile .chart-container-dou {
	width: 760px;
}
.mbbond-documents.down_hide a{
	display:none;}
.navbar .dropdown ul{
	left:19px;
}
@media (max-width: 1200px) and (min-width: 700px) {
    .navbar-mobile {
        width: 70%;
        left: 30% !important;
	}
}
@media  (max-width: 700px) {
    .navbar-mobile ul > li > a, .navbar-mobile ul > li > a:focus {
	padding: 12px 3px;
	}
    .navbar a i, .navbar a:focus i{font-size:18px}
    section#banner-investment {
    overflow: hidden;
	}
}