* {
  margin: none;
}

body {
  /* font-family: "Averta"; */
  font-style: normal;
}

#top-bar {
  height: 40px;
  padding: 8px 0;
}
#top-bar a {
  color: #000000;
  text-decoration: none;
}
#header {
  background-color: #0a1e40;
  height: 84px;
}
.alignment {
  /* 247px */
  margin-left: 247px;
  margin-right: 247px;
}
.translate-btn {
  background: #ffffff;
  border: none;
}
.navagation {
  text-transform: uppercase;
}
.navagation a {
  /* font-family: Averta; */
  font-style: normal;
  font-family: Avert-Regular;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.navagation a.active {
  color: #ddb996;
}
.navagation .menu-item {
  padding: 0 15px;
}

.vertical {
  height: 20px;
  border: 1px solid #fff;
  opacity: 0.36;
}
.custom-btn-op1 {
  /* padding: 12px; */
  width: 164px;
  height: 44px;
  text-align: center;
}
.custom-btn-op1-outline:hover {
  color: #ddb996;
}
.custom-btn-op1-outline {
  border: 1px solid #ddb996;
  color: #ddb996;
}
.custom-btn-op1-fullfill {
  background-color: #ddb996;
  color: #ffffff;
}

/*  */
#banner {
  height: 532px;
  left: 0px;
  width: 100%;
  top: 125px;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  padding-top: 100px;
}

.title-banner {
  background-color: #5e5e5e91;
  color: #ffff;
  width: 650 px;
  margin-left: 200px;
  font-size: 40px;
  padding: 30px;
  position: absolute;
  top: 100;
  border-radius: 5px;
}
.title-banner .line2 {
  margin-left: 80px;
}
/*  */
.title {
  font-family: Avert-SemiBold;
  font-size: 50px;
  line-height: 62px;
  text-align: center;
  color: #000000;
}
.exigency-card {
  text-align: center;
  /* margin-right: 50px; */
}
.exigency-card .title-card {
  margin-top: 42px;
}
.exigency-card .title-card h6 {
  font-family: Avert-Semibold;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}
.exigency-card .description {
  font-family: Avert-Regular;
  font-size: 24px;
  line-height: 30px;
  color: #707072;
}

.investment-options-section {
  background-color: #0a1e40;
  height: 571px;
  color: #ffff;
  padding: 60px 0;
}
.investment-options-section .title {
  color: #fff;
}

.investment-options-section .option-card {
  text-align: center;
  padding: 25px;
  width: 400px;
}
.option-card .short-name {
  font-size: 25px;
  line-height: 32px;
  color: #bd9976;
}

.option-card .full-name {
  font-family: Avert-Semibold;
  font-size: 25px;
  line-height: 31px;
}

.option-card .description {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.78;
  height: 150px;
}
.vertical-op1 {
  border: 1px solid #ffffff;
  opacity: 0.36;
}
.option-card .value {
  font-size: 20px;
  /* line-height: 25px; */
  text-align: center;
  color: #ffffff;
}

.option-card .percent {
  font-size: 20px;
  /* line-height: 25px; */
  color: #ffffff;
}
.option-card .readmore a {
  font-size: 18px;
  line-height: 22px;
  color: #bd9976;
  text-decoration: none;
}

.blur {
  background-image: url("../img/backgroud-img-1.png");
  background-size: cover;
  overflow: hidden;
  filter: blur(13px);
  /* position: absolute; */
  height: 300px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}
/*  */
#footer {
  background-color: #0a1e40;
  color: #ffffff;
  padding: 30px 0 0 0;
}

#footer .col-item {
  width: 240px;
}
.col-item .head-col h6 {
  font-family: Avert-Semibold;
  font-size: 18px;
  line-height: 22px;
}
.col-item .body-col {
  margin-top: 30px;
  font-family: Avert-Regular;
  font-size: 12px;
  line-height: 18px;
}
#footer hr {
  border-top: 1px solid rgb(255 255 255 / 10%);
}
#footer .address-contact p {
  font-size: 12px;
  line-height: 18px;
  font-family: Avert-Regular;
}
.horizontal {
  border: 1px solid #fff;
  opacity: 0.36;
}
.copyright {
  padding-bottom: 100px;
}

.contact {
  background-image: url("../img/backgroud-img-1.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 387px;
  color: #ffffff;
}
.contact .title {
  font-family: Avert-Semibold;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
}
.contact .box {
  background-color: rgb(20 20 20 / 30%);
  border-radius: 3px;
  font-family: sans-serif;
  font-size: 2rem;
  color: #000;
  text-align: center;
  line-height: 1;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  /* max-width: 50%; */
  height: 100%;
  padding: 50px 60px;
}

.input-custom {
  width: 364px;
  height: 44px;
  background: #e5e5e5;
}

.sub-title {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}
.bg-gold {
  background-color: #bd9976;
}
.bold,
.fw-bolder {
  font-family: Avert-Semibold;
}